<main id="anchor-point">
  <div class="container">
    <div class="home-title-container">
      <h1 id="pgTitle">
        <span>NRPTI</span>
        <span class="badge" id="alpha">ALPHA</span>
      </h1>
      <h2>NRPTI - Authenticated Access</h2>
    </div>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Import</h3>
          <p class="card-text">Import records from EPIC/NRIS/CORS.</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/import']">Import</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Records</h3>
          <p class="card-text">Show all records in the system.</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/records']">List Records</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ipsum Lorem</h3>
          <p class="card-text">Ipsum Lorem.</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/']">Ipsum Lorem</a>
        </div>
      </div>
    </div>
  </div>
</main>
