@import "assets/styles/base/base.scss";

.project-list {
  &__options {
    @include flex(0 0 auto);
    padding: 1rem 0rem;
    mat-slide-toggle {
      white-space: normal;
    }
  }
}

.clickable-row {
  cursor: pointer;
}

.project-table {
  .accordion__collapse-header {
    background: transparent;
  }
  &__project-details {
    font-size: 0.85rem;
    &--links {
      padding-top: 1.5rem;
    }
    &--description {
      margin-bottom: 1.25rem;
      &::ng-deep {
        p {
          margin: 0;
          line-height: calc(0.85rem * 1.5);
          font-size: 0.85rem;
        }
      }
    }
    &--list {
      li {
        @include align-items(start);
        +li {
          border-top: 1px solid $white;
        }
      }
      .name,
      .value {
        margin: 0;
        padding: 0.25rem 0.75rem;
        width: 50%;
      }
      .name {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 767px) {
  .project-table {
    table-layout: auto;
    thead {
      display: block;
      width: 100%;
      tr {
        @include flex-box();
      }
      th {
        border-top: none;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        &.project-table__name-col {
          @include flex(1 1 auto);
        }
      }
    }
    &__name-col {
      // width: 45%;
    }
    &__cl_file-col {
      width: 25%;
    }
    &__purpose-col {
      display: none;
    }
    &__region-col {
      display: none;
    }
    &__status-col {
      width: 30%;
    }
    &__commenting-col {
      display: none;
    }
    &__project-details {
      &--links {
        .btn {
          width: 100%;
          +.btn {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
    .project-table {
        &__name-col {
            // width: 20%;
        }
        &__cl_file-col {
            width: 12.5%;
        }
        &__purpose-col {
            width: 25%;
        }
        &__region-col {
            width: 12.5%;
        }
        &__status-col {
            width: 14%;
        }
        &__commenting-col {
            width: 16%;
        }
        &__project-details {
            font-size: 0.9375rem;
            &--description {
                &::ng-deep {
                    p {
                        line-height: calc(0.9375rem * 1.5);
                        font-size: 0.9375rem;
                    }
                }
            }
            &--list {
                list-style-type: none;
                .name {
                    width: 15rem;
                }
                .value {
                    width: auto;
                }
            }
            &--links {
                .btn {
                    +.btn {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}

.search-area {
  background-color: white;
  border: 1px solid lightgray;
}

.main-search-field {
  margin-left: 0px;
  padding: 8px;
}

.show-advanced-search-button .btn {
  float: right;
  margin-right: 8px !important;
  width: 200px;
}

.advanced-search {
  position: relative;

  hr {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  .project-filter {
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .filter-border {
    border: solid 1px lightgray;
    padding: 15px;
    min-width: 155px;
  }

  .type-filters {
    margin-left: 8px;
  }

  .decision-filters {
    margin-left: 172px;
  }

  .pcp-filters {
    margin-left: 335px;

    .filter-border {
      min-width: 230px;
    }
  }

  .more-filters {
    margin-left: 8px;
    margin-right: 8px;

    .sub-filters {
      margin-left: 0px;

      hr {
        margin-left: -1rem;
      }
    }
  }

  .btn {
    margin: 8px 0px 8px 8px;
  }

  .type-btn {
    width: 155px;
  }

  .decision-btn {
    width: 155px;
  }

  .pcp-btn {
    width: 230px;
  }

  .calendar {
    margin: 0px;
  }

  .date {
    margin-left: 0px;
  }

  .date-range {
    margin-left: -15px;
    margin-top: 15px;

    .form-control {
      z-index: 0px !important;
    }
  }

  .form-check label {
    padding-left: 0.25rem;
    font-size: 1rem;
  }

  .search-button {
    position: absolute;
    right: 8px;
    bottom: -8px;
  }
}

.results {
  color: black;
}

.btn-group-toggle > .btn {
    margin-bottom: 0;
    background: none;
    color: #13477b;
    border: 1px solid #858b99;
    font-weight: 600;

    &:hover {
      background: #fcb118;
    }

    &.active {
        background: #235383;
        color: #fff;
    }
  }
