@import '~assets/styles/base/base.scss';

.export-button {
  background-color: $primary;
}

.rotate {
  animation: spin-animation 1s infinite linear;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
