<div class="grid-item">
  <span class="grid-item-value" *ngIf="documents && documents.length > 0">
    <ul id="documents" class="doc-list mb-3">
      <li *ngFor="let document of documents">
        <span class="cell icon">
          <i class="material-icons">insert_drive_file</i>
        </span>
        <span class="cell name" [title]="document || ''">
          <span class="cell__txt-content">
            <a title="" href="{{ document.url }}" target="_blank">{{ document.fileName }}</a>
          </span>
        </span>
      </li>
    </ul>
  </span>
  <span class="grid-item-value" *ngIf="!(documents && documents.length > 0)">
    This record does not have documents
  </span>
</div>
