<form *ngIf="!loading" [formGroup]="myForm" novalidate>
  <section class="my-3 py-3 border-bottom">
    <div class="add-record-section">
      <div class="d-flex justify-content-end mb-1">
        <mat-slide-toggle name="publishBcmi" id="publishBcmi" class="publish-toggle"
          [ngClass]="myForm.get('publishBcmi').value ? 'published' : 'unpublished'"
          formControlName="publishBcmi" (change)="togglePublish($event)"
          [checked]="myForm.get('publishBcmi').value"
          title="{{ myForm.get('publishBcmi').value ? 'Unpublish record' : 'Publish record' }}"
          ngDefaultControl>
          {{ (myForm.get('publishBcmi').value && 'Published') || 'Unpublished' }}
        </mat-slide-toggle>
      </div>
      <div class="d-flex justify-content-end text-right">
        <span class="grey-subtext d-block">
          If the record is 'Published', it will show on BCMI when the collection is published.
        </span>
      </div>
      <br />
      <div class="flex-container">
        <div class="label-pair">
          <label for="recordName">Record Name <span class="red-asterisk">*</span></label>
          <input name="recordName" id="recordName" type="text" formControlName="recordName" class="form-control" />
        </div>
        <div class="label-pair">
          <label for="recordAgency">Agency <span class="red-asterisk">*</span></label>
          <select name="recordAgency" id="recordAgency" formControlName="recordAgency" class="form-control">
            <option *ngFor="let agency of recordAgencies" [ngValue]="agency">
              {{ agency }}
            </option>
          </select>
        </div>
        <div class="label-pair" *ngIf="myForm && myForm.controls.dateIssued">
          <label for="dateIssued">Date</label>
          <lib-date-picker
            [control]="myForm.controls.dateIssued"
            [isValidate]="true">
          </lib-date-picker>
        </div>
        <div class="label-pair">
          <label for="recordType">Type <span class="red-asterisk">*</span></label>
          <select name="recordType" id="recordType" formControlName="recordType" class="form-control">
            <option *ngFor="let recordType of recordTypeNamesBCMI" [ngValue]="recordType">
              {{ recordType }}
            </option>
          </select>
        </div>
        <div class="label-pair" *ngIf="myForm.get('recordType').value === 'Permit'">
          <label for="typeCode">Permit Type <span class="red-asterisk">*</span></label>
          <select name="typeCode" id="typeCode" formControlName="typeCode" class="form-control">
            <option *ngFor="let typeCode of permitTypes" [ngValue]="typeCode">
              {{ typeCode === 'OGP' ? 'Original Permit' : 'Permit Amendment' }}
            </option>
          </select>
        </div>
      </div>
      <app-document-link-staging *ngIf="!resetDocStaging" [params]="{ maxFiles: 1 , hideWhenMaxFilesReached: true }"
        (linksChanged)="links = $event" (documentsChanged)="documents = $event">
      </app-document-link-staging>
      <div class="d-flex justify-content-end mb-1">
        <button class="btn btn-primary" type="submit" (click)="submit()" title="Save record">
          Save & Add
        </button>
      </div>
    </div>
  </section>
</form>