<div class="documents-view">
  <div *ngIf="!loading && tableData.totalListItems === 0">
    No Records found.
  </div>

  <lib-table-template
    *ngIf="!loading && tableData.totalListItems != 0"
    (checkboxChange)="checkChange($event)"
    [data]="tableData"
    (columnSort)="setColumnSort($event)"
    (itemClicked)="itemClicked($event)"
    (itemSelected)="itemSelected($event)"
    (pageNumUpdate)="onPageNumUpdate($event)"
    (pageSizeUpdate)="onPageSizeUpdate($event)"
  >
  </lib-table-template>
</div>
