<main class="detail-page">
  <div>
    <section class="content-section">
      <div class="content-grid">
        <div class="grid-section-header">
          <div class="grid-section-header-title">
            <h4 class="grid-section-header-title-text blue-header">Shared Data [Master]</h4>
            <span *ngIf="data && data._master.dateUpdated" class="grid-section-header-title-sub-text grey-sub-text">
              Last Edited {{ (data && data._master.dateUpdated | date: 'mediumDate') || '-' }}
            </span>
          </div>
          <div class="grid-section-header-button">
            <button class="button-edit" (click)="navigateToEditPage()">
              <i class="material-icons">edit</i>
              <span>Edit</span>
            </button>
          </div>
        </div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Basic Information</span>
        </div>
        <div class="grid-section section-1">
          <div class="grid-item">
            <span class="grid-item-name">Record Name</span>
            <span class="grid-item-value">{{ (data && data._master.recordName) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Record Type</span>
            <span class="grid-item-value">{{ (data && data._master.recordType) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Author</span>
            <span class="gird-item-value">{{ (data && data._master.author) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Date Issued</span>
            <span class="gird-item-value">{{ (data && data._master.dateIssued | date: 'mediumDate') || '-' }}</span>
          </div>
        </div>
        <div class="grid-section section-2">
          <div class="grid-item">
            <span class="grid-item-name">Issuing Agency</span>
            <span class="grid-item-value">{{ (data && data._master.issuingAgency) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Act/Legislation</span>
            <span class="grid-item-value">{{ (data && data._master.legislation) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Location Details</span>
        </div>
        <div class="grid-section section-3">
          <div class="grid-item">
            <span class="grid-item-name">Site/Project</span>
            <span class="grid-item-value">{{ (data && data._master.projectName) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Lat/Long</span>
            <span class="grid-item-value">{{ (data && data._master.centroid) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Location</span>
            <span class="grid-item-value">{{ (data && data._master.location) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Outcome Details</span>
        </div>
        <div class="grid-section section-4">
          <div class="grid-item">
            <span class="grid-item-name">Outcome Status</span>
            <span class="grid-item-value">{{ (data && data._master.outcomeStatus) || '-' }}</span>
          </div>
          <div class="grid-item">
            <span class="grid-item-name">Outcome Description</span>
            <span class="grid-item-value">{{ (data && data._master.outcomeDescription) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section section-5">
          <div class="grid-item">
            <span class="grid-item-name">Penalty</span>
            <span class="grid-item-value">{{ (data && data._master.outcomeDescription) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Attachments</span>
        </div>
        <div class="grid-section section-6">
          <div class="grid-item">
            <span *ngIf="
            data &&
            data._master.attachments &&
            data._master.attachments.length > 0 &&
            data._master.sourceSystemRef === 'epic'
            ">
              <span *ngFor="let attachment of data && data._master.attachments">
                <a href="{{attachment.url}}" target=" _blank">{{attachment.fileName}}</a>
              </span>
            </span>
            <span *ngIf="
            !(data &&
            data._master.attachments &&
            data._master.attachments.length > 0 &&
            data._master.sourceSystemRef === 'epic')
              " class="grid-item-value">This record does not have attachemnts</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
      </div>
    </section>
    <ng-container *ngFor="let flavourData of data && data.flavourData" [appRecordDetail]="flavourData"></ng-container>
  </div>
</main>
