<main class="container-fluid-padding">
  <div class="col mb-3" [hidden]="hidepanel">
    <app-explore-panel
      #explorePanel
      [filterSections]="filters"
      (updateFilters)="filterChange($event)"
      >
    </app-explore-panel>
  </div>
  <div class="row mb-3">
    <div class="col-6"></div>
    <div class="col-6 text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" ngbDropdownToggle>
          Add Record
        </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="add('order')">Order</button>
          <button ngbDropdownItem (click)="add('inspection')">Inspection</button>
          <button ngbDropdownItem (click)="add('certificate')">Certificate</button>
          <button ngbDropdownItem (click)="add('permit')">Permit</button>
          <button ngbDropdownItem (click)="add('agreement')">Agreement</button>
          <button ngbDropdownItem (click)="add('selfReport')">Compliance Self-Report</button>
          <button ngbDropdownItem (click)="add('restorativeJustice')">Restorative Justice</button>
          <button ngbDropdownItem (click)="add('ticket')">Ticket</button>
          <button ngbDropdownItem (click)="add('administrativePenalty')">Administrative Penalty</button>
          <button ngbDropdownItem (click)="add('administrativeSanction')">Administrative Sanction</button>
          <button ngbDropdownItem (click)="add('warning')">Warning</button>
          <button ngbDropdownItem (click)="add('constructionPlan')">Construction Plan</button>
          <button ngbDropdownItem (click)="add('managementPlan')">Management Plan</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && tableData.totalListItems === 0">
    No Records found.
  </div>

  <lib-table-template
    *ngIf="!loading && tableData.totalListItems != 0"
    [data]="tableData"
    (messageOut)="onMessageOut($event)"
  >
  </lib-table-template>
</main>
