<main class="container-fluid-padding">
  <search-filter-template
    #explorePanel
    (searchEvent)='executeSearch($event)'
    [title]="'Keyword Search'"
    [tooltip]="'Summary, description, location, and issued to name fields'"
    [subsets]="subsets"
    [advancedFilters]="true"
    [showAdvancedFilters]="showAdvancedFilters"
    [searchOnFilterChange]="true"
    [filters]="filters">
  </search-filter-template>

  <div class="row mt-3 mb-3">
    <div class="col-12 text-right">
      <div ngbDropdown>
        <button class="btn btn-primary" ngbDropdownToggle>
          Add Record
        </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="add('administrativePenalty')">Administrative Penalty</button>
          <button ngbDropdownItem (click)="add('administrativeSanction')">Administrative Sanction</button>
          <button ngbDropdownItem (click)="add('agreement')">Agreement</button>
          <button ngbDropdownItem (click)="add('certificate')">Certificate</button>
          <button ngbDropdownItem (click)="add('constructionPlan')">Construction Plan</button>
          <button ngbDropdownItem (click)="add('courtConviction')">Court Conviction</button>
          <button ngbDropdownItem (click)="add('inspection')">Inspection</button>
          <button ngbDropdownItem (click)="add('managementPlan')">Management Plan</button>
          <button ngbDropdownItem (click)="add('order')">Order</button>
          <button ngbDropdownItem (click)="add('permit')">Permit</button>
          <button ngbDropdownItem (click)="add('restorativeJustice')">Restorative Justice</button>
          <button ngbDropdownItem (click)="add('selfReport')">Compliance Self-Report</button>
          <button ngbDropdownItem (click)="add('ticket')">Ticket</button>
          <button ngbDropdownItem (click)="add('warning')">Warning</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tableData.totalListItems === 0">
    No Records found.
  </div>

  <lib-table-template
    *ngIf="tableData.totalListItems != 0"
    [data]="tableData"
    (messageOut)="onMessageOut($event)"></lib-table-template>
</main>
