<main class="container-fluid-padding">
  <section>
    <div class="d-flex heading-bar">
      <div>
        <h1 id="name" class="m-0">{{ (mine && mine.name) || '-' }} Collections</h1>
      </div>
    </div>
  </section>

  <section>
    <search-filter-template
      #explorePanel
      (searchEvent)="executeSearch($event)"
      title="Keyword Search"
      tooltip="Search collection name"
      [advancedFilters]="true"
      [showAdvancedFilters]="showAdvancedFilters"
      [searchOnFilterChange]="true"
      [filters]="filters"
    ></search-filter-template>
  </section>

  <section>
    <div class="text-right mb-3">
      <button class="btn btn-primary" (click)="addCollection()" title="Create new collection">
        <i class="material-icons mr-1 align-middle">add</i>
        <span class="align-middle">Create New Collection</span>
      </button>
    </div>
  </section>

  <section class="mb-1 pb-1">
    <div *ngIf="!tableData.totalListItems">No Collections found.</div>

    <lib-table-template
      *ngIf="tableData.totalListItems > 0"
      [data]="tableData"
      (messageOut)="onMessageOut($event)"
    ></lib-table-template>
  </section>
</main>
