@import "~assets/styles/base/base.scss";

:host {
  @include flex(1 1 auto);

  display: block;
  background: $white;
}

.hero-banner__content {
  padding-top: 0;
}

.question-answer {
  // max-width: 30rem;
  margin: 0 2rem 1rem 0;
}

.question {
  color: $gray6;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.question:hover {
  color: $gray8;
}

.question[aria-expanded="false"] i {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.question[aria-expanded="true"] i {
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}

.faq-answer {
  margin-left: 2rem;
}

#show-hide-all {
  cursor: pointer;
  font-family: monospace;
  color: $gray6;
}

#show-hide-all:hover {
  color: $gray8;
}

#top-hr {
  margin-top: 0;
}

// Testing some stuff
.question-answer .open + .faq-answer {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.question-answer .closed + .faq-answer {
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.question-answer .closed {
  i {
    transition: 0.5s ease-in-out;
  }
}

.question-answer .open {
  i {
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
  }
}
