<div class="container">
  <h1>Update Agencies</h1>

  <!-- Dropdown for selecting an agency -->
  <div class="dropDownArea">
    <label>Select The Agency You Would Like to Update: </label><br>
    <!-- <select (change)="onSelected($event.target.value)">
      <option *ngFor="let agency of agencyList" [value]="agency">{{ agency }}</option>
    </select> -->
    
    <select _ngcontent-ity-c12="" class="form-control ng-pristine ng-valid ng-touched" (change)="onSelected($event.target.value)">
      <option *ngFor="let agency of agencyList" [value]="agency">{{ agency }}</option>
    </select>

  </div>

  <!-- Text field for entering a new agency -->
  <div class="form-group">
    <label for="newAgency">Updated Agency Name:</label>
    <input type="text" id="newAgency" [(ngModel)]="newAgency" class="form-control">
  </div>

  <!-- Submit button to update the selected agency -->
  <!-- <button (click)="updateSelectedAgency()">Update Selected Agency</button> -->
  <button _ngcontent-req-c21="" class="btn btn-primary" (click)="updateSelectedAgency()" title="Update Selected Agency" >Update Selected Agency</button>

  <!-- Displays current selection - Would probably remove before release -->
  <!-- <div *ngIf="choiceMade">
    <p>Selected Agency: {{ selectedAgency }}</p>
  </div> -->
  <!-- This div is just for debugging, Trying other ways to display the agencies -->

</div>
