<main class="container-fluid-padding">
  <section *ngIf="this.showSourceSystem" class="mb-3">
    <h4>Import from Source System</h4>

    <div class="row">
      <div *ngIf="showSourceSystemEPIC" class="col-sm mb-3">
        <label>Import from EPIC</label>
        <div>
          <button
            type="button"
            [disabled]="buttonActions['epic']"
            class="btn btn-primary"
            (click)="startJob('epic')"
            title="Start EPIC import job"
          >
            Start Job
          </button>
        </div>
      </div>
      <div *ngIf="showSourceSystemNRIS" class="col-sm mb-3">
        <label>Import from NRIS-EPD</label>
        <div>
          <button
            type="button"
            [disabled]="buttonActions['nris-epd']"
            class="btn btn-primary"
            (click)="startJob('nris-epd')"
            title="Start NRIS import job"
          >
            Start Job
          </button>
        </div>
      </div>
      <div *ngIf="showSourceSystemEMLI" class="col-sm mb-3">
        <label>Import from NRIS-EMLI</label>
        <div>
          <button
            type="button"
            [disabled]="buttonActions['nris-emli-importer']"
            class="btn btn-primary"
            (click)="startJob('nris-emli')"
            title="Start EMLI import job"
          >
            Start Job
          </button>
        </div>
      </div>
      <div *ngIf="showSourceSystemCORE" class="col-sm mb-3">
        <label>Import from CORE</label>
        <div>
          <button
            type="button"
            [disabled]="buttonActions['core']"
            class="btn btn-primary"
            (click)="startJob('core')"
            title="Start CORE import job"
          >
            Start Job
          </button>
        </div>
      </div>
      <div *ngIf="showSourceSystemBCOGC" class="col-sm mb-3">
        <label>Import from BCOGC</label>
        <div>
          <button
            type="button"
            [disabled]="buttonActions['bcogc']"
            class="btn btn-primary"
            (click)="startJob('bcogc')"
            title="Start BCOGC import job"
          >
            Start Job
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4.5 mb-3">
    <app-import-csv></app-import-csv>
  </section>

  <section>
    <div *ngIf="!loading && tableData.totalListItems === 0">No Records found.</div>

    <lib-table-template
      *ngIf="!loading && tableData.totalListItems != 0"
      [data]="tableData"
      (messageOut)="onMessageOut($event)"
    ></lib-table-template>
  </section>
</main>
