@import "~assets/styles/base/base.scss";

:host {
  @include flex(1 1 auto);

  display: block;
  background: $white;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  color: $gray8;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: $gray9;
}

/* Here is some spiffy mobile first grid stuff */
#home-content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 28rem;
  grid-template-areas: "content sidebar";
}

#left-column {
  grid-area: content;
}

#right-column {
  grid-area: sidebar;
}

@media only screen and (max-width: 1024px) {
  #home-content {
    display: block;
  }
}

/* ******************************************* */

.container {
  padding-top: 0;
}

#map-btn button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: 600;
  background-color: $primary7;
}

#map-btn #btn-icon-right {
  margin-left: 0.5rem;
}

#right-column .card-img-top {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

#right-column .card-img-top:hover {
  opacity: 1;
  cursor: pointer;
}

#right-column .card {
  margin: 1.4rem 0.1rem 1.4rem 0.1rem;
}

#right-column .card-body {
  padding: 0.8rem;
}

#right-column .card-company {
  font-size: 22px;
  font-weight: 700;
}

#right-column .card-name {
  font-size: 14px;
  font-weight: 600;
  color: $gray6;
  margin-bottom: 0.5rem;
}

#right-column .card-location {
  font-weight: 600;
}

#right-column .card button {
  position: absolute;
  right: 0.7rem;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: 600;
  color: $gray7;
  margin-top: -2.2rem;
}

#right-column .card button span {
  margin-left: 1rem;
}
