<div class="watermark pl-5 pt-5 pb-5">
  <h4>Welcome to the Natural Resource Compliance and Enforcement Database</h4>
  <p>
    B.C.’s natural resource agencies are responsible for the protection, management and conservation of the province’s
    water, land, air and living resources. Use this site to view and learn more about the many activities undertaken by
    the Province every day to ensure compliance with regulatory requirements.
  </p>
  <a class="btn content-btn-dark page-bottom-btn" title="View more information" href="/records">FIND RECORDS</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <div class="ml-5 mt-5">
        <h2>What you can expect to find:</h2>
        <p>
          On this site you’ll find records, documents and details of compliance and enforcement activities undertaken by
          natural resource agencies such as administrative sanctions, administrative penalties, court convictions,
          inspections, orders, violation tickets and community environmental justice forums. Filter your results by name
          or company, dates, laws, and availability of documents.
          <br />
          <br />
          B.C.’s natural resource agencies include:
        </p>

        <ul>
          <li>
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=CD405A2E90BA41578FE96B069AF7A7AE">
              Ministry of Agriculture
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=8D06A3903A9B40CABAF93E863FDF029E">
              Ministry of Environment and Climate Change Strategy
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=6CFB2526E5FB4231B6959A2BA40777F2">
              Ministry of Energy, Mines and Petroleum Resources
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=A90244BA9C1B4BC6A63304C413DB75EA">
              Ministry of Forests, Lands and Natural Resource Operations and Rural Development
            </a>
          </li>
          <li><a target="_blank" href="https://www.alc.gov.bc.ca/">Agricultural Land Commission</a></li>
          <li>
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=5F147660F02946B391C4F6BD96520F54">
              Environmental Assessment Office
            </a>
          </li>
          <li><a target="_blank" href="https://www.bcogc.ca/">Oil and Gas Commission</a></li>
        </ul>
      </div>

      <div class="ml-5 mt-5">
        <h2>How to make the most of this site:</h2>
        <p>
          This site can be used to search for compliance and enforcement actions issued by the natural resource
          agencies. Where available, view associated documentation.
        </p>
      </div>

      <div class="ml-5 mt-5">
        <h2>What does this all mean:</h2>
        <p>
          Publicly reporting and providing public access to compliance and enforcement records promotes compliance with
          laws and regulations. This site provides information to the public in meaningful ways through an intuitive
          interface.
        </p>
      </div>

      <div class="ml-5 mt-5">
        <h2>Still need more information?</h2>
        <h5>About Compliance and Enforcement</h5>
        <p>
          Learn more about
          <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=5F2C798CEE2E4F3D94CEC7A345EDD54E">
            Environmental Compliance in B.C.
          </a>
          , or
          <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=41FDB87D3806443399047028740AC274">
            natural resource compliance and enforcement reporting
          </a>
        </p>

        <h5>More environmental reporting resources</h5>
        <label>Environmental Compliance on Twitter</label>
        <p>
          Follow
          <a target="_blank" href="https://twitter.com/@ComplianceBC">@ComplianceBC</a>
          for updates on the enforcement of environmental regulations in the province.
        </p>

        <hr />

        <label class="headerText">Environmental Project Information Centre (EPIC)</label>
        <p>
          Learn more about how the Environmental Assessment Office neutrally administers a process that is predictable,
          transparent, timely, procedurally fair, and holds all participants accountable.
        </p>

        <a
          class="btn content-btn-dark page-bottom-btn"
          title="View more information"
          target="_blank"
          href="https://projects.eao.gov.bc.ca/"
        >
          Go To EPIC
        </a>
        <hr />

        <label class="headerText">B.C. Oil and Gas Commission Compliance and Enforcement</label>
        <p>View compliance and enforcement information on oil and gas activities across the province.</p>

        <a
          class="btn content-btn-dark page-bottom-btn"
          title="View more information"
          target="_blank"
          href="https://www.bcogc.ca/industry-zone/compliance-enforcement"
        >
          B.C. Oil and Gas Commission Compliance and Enforcement
        </a>
        <hr />
      </div>
    </div>

    <div class="col-md-4 col-lg-4 mt-5">
      <div class="feature-blocks ml-5">
        <div class="feature-block-header">
          <h5>START YOUR SEARCH!</h5>
        </div>
        <div class="feature-block">
          <p>
            Use this site to search for compliance and enforcement actions that have been issued by the natural resource
            agencies.
          </p>
          <strong><p>Click the link below to begin!</p></strong>
          <a class="btn content-btn-dark page-bottom-btn" title="View more information" href="/records">FIND RECORDS</a>
        </div>
      </div>

      <div class="feature-blocks ml-5">
        <div class="feature-block-header">
          <h5>Get in Touch</h5>
        </div>
        <div class="feature-block">
          <p>
            <strong>Need to report a poacher, predator or polluter?</strong>
            <br />
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=20E35E0BDAD94E498BE3314F929A0196">
              Call the RAPP Line
            </a>
          </p>
          <p>
            <strong>Need to report unauthorized or damaging activities to natural resources or on crown lands?</strong>
            <br />
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content?id=AC21588174384780BD192B4B81B301D4">
              Fill out a natural resource violation report
            </a>
          </p>
          <p>
            <strong>Questions about this website?</strong>
            <br />
            Please contact us at:
            <br />
            <a href="mailto:NRCED@gov.bc.ca">NRCED@gov.bc.ca</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
