d
.pagination {
  text-align: center;

  .btn-group {
    margin: 0 auto;
  }
}

.pg-count {
  padding: 0.75rem;
}

.pg-btn {
  border-radius: 0;

  i {
    margin-top: -0.1rem;
  }
}

.ngx-pagination {
  margin-bottom: 0 !important;
  padding-left: 0;

  & li {
    border-radius: 6px !important;

    &:not(.current) a {
      transition: all 0.2s linear !important;

      &:hover {
        border-radius: 6px !important;
        transition: all 0s linear !important;
      }
    }

    &.current {
      transition: all linear 0.2s !important;
      background-color: $pgn-btn-active-bg;
    }
  }
}
