@use "assets/styles/base/base.scss" as base;

// Page structure
:host {
  @include base.flex(1 1 auto);

  display: block;
  background: base.$white;
}

.container {
  padding-bottom: 0.2rem;
  padding-top: 1rem;
}

main:last-child {
  margin-bottom: 2rem;
}
