@import "~assets/styles/base/base.scss";

:host {
  display: block;

  @include flex-box();
  @include flex-direction(column);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Noto Sans', sans-serif;
}

app-header {
  @include flex(0 0 auto);
}

app-footer {
  z-index: 1;
}

.app-body {
  @include flex-box();
  @include flex(1 1 auto);
  @include flex-direction(row);

  background: #fff;
  position: relative;
  overflow-y: auto;
  font-family: 'Noto Sans', sans-serif;
}

.body-content {
  @include flex-box();
  @include flex(1 1 auto);
  @include flex-direction(column);

  background-color: $white;
  z-index: 2;

  .content-component {
    overflow: auto;
  }
}
