<main class="container-fluid-padding">
  <div class="d-flex">
    <h2>News Detail</h2>
    <div class="ml-auto">
      <button class="btn btn-outline-primary mr-1" (click)="navigateBack()">Back</button>
      <button class="btn btn-primary" (click)="navigateToEditPage()">Edit</button>
    </div>
  </div>
  <hr>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">Date:</label>
    <div>{{record.date | date:'medium' || '-'}}</div>
  </div>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">Title:</label>
    <div>{{record.title || '-'}}</div>
  </div>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">Content:</label>
    <div>{{record.description || '-'}}</div>
  </div>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">Type:</label>
    <div>{{record.type || '-'}}</div>
  </div>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">Project:</label>
    <div>{{record.projectName || 'None'}}</div>
  </div>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">System:</label>
    <div>{{record.system | uppercase }}</div>
  </div>
  <div class="row label-pair ml-1 mb-2">
    <label class="font-weight-bold mr-1">URL:</label>
    <div>{{record.url || '-'}}</div>
  </div>
  <div class="row ml-1 mt-5">
    <button class="btn btn-outline-primary mr-1" (click)="delete()">Delete</button>
  </div>
</main>