@import "~assets/styles/base/base.scss";

.detail-page {
  background-color: $white;

  .nav-section {
    font-weight: 600;
  }

  .content-section {
    margin: 0.25rem;
    padding: 0.25rem;
  }
}
