$drag-icon-font-color: #949494;

.drag-drop-list {
  background-color: white;
}

.cdk-drag-handle {
  color: $drag-icon-font-color;
  cursor: pointer;
}

.drag-drop-placeholder {
  background: #ccc;
  border-radius: 4px;
  min-height: 60px;
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-container.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}
