<td scope="row" data-label="Issued To" class="col-2 showPointer truncate">{{ entityString || '-' }}</td>
<td scope="row" data-label="Name" class="col-4 showPointer truncate">{{ rowData.recordName || '-' }}</td>
<td scope="row" data-label="Type" class="col-1 showPointer truncate">{{ rowData.recordType || '-' }}</td>
<td scope="row" data-label="Location" class="col-2 showPointer truncate">{{ rowData.location || '-' }}</td>
<td scope="row" data-label="Date" class="col-1 showPointer truncate">
  {{ rowData.dateIssued | date: 'mediumDate' || '-' }}
</td>
<td scope="row" data-label="Documents" class="col-1 showPointer">
  <i class="material-icons">
    attach_file
  </i>
  {{ (rowData.documents && rowData.documents.length) || '0' }}
</td>
<td scope="row" class="col-1">
  <button (click)="edit(); $event.stopPropagation()"
          class="btn btn-primary"
          type="button">
    <i class="material-icons">create</i>
    &nbsp;Edit
  </button>
</td>
