aside {
  section {
    + section {
      margin-top: 1.5rem;
    }

    h5 {
      color: $aside-title-color;
      text-transform: uppercase;
      font-size: 0.9375rem;
      font-weight: 700;
    }

    p {
      font-size: 0.9375rem;
      line-height: 1.4rem;
    }
  }

  .card-body {
    background: $aside-bg;
  }
}
