<section class="mt-4 mb-4">
  <form [formGroup]="formGroup">
    <div class="flex-container mb-2">
      <div class="label-pair">
        <label for="_epicProjectId">EPIC Project</label>
        <select name="_epicProjectId" id="_epicProjectId" formControlName="_epicProjectId" class="form-control">
          <option *ngFor="let project of epicProjects" [ngValue]="project._id">
            {{ project.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="flex-container mb-2">
      <div class="label-pair">
        <label for="mineGuid">Mine Name</label>
        <select name="mineGuid" id="mineGuid" formControlName="mineGuid" class="form-control">
          <option *ngFor="let mine of mines" [ngValue]="mine._sourceRefId">
            {{ mine.name }}
          </option>
        </select>
      </div>
    </div>
  </form>
</section>