@use '../../assets/styles/base/base.scss' as *;
@use '../../assets/styles/components/drag-drop.scss' as *;

$link-label-font-size-sm: 0.875rem;
$link-label-font-size-md: 1rem;

$link-body-font-weight-sm: 400;
$link-body-font-weight-md: 700;

$link-delete-font-color: #d8292f;
$link-delete-hover-font-color: #ff4a4a;
$link-info-font-color: #949494;

form {
  width: 100%;
}

.btn-remove {
  i {
    color: $link-delete-font-color;
    vertical-align: none;
  }

  &:hover {
    color: $link-delete-hover-font-color;
    background-color: transparent;
  }
}

.btn-drag {
  i {
    color: $link-info-font-color;
    vertical-align: none;
  }

  &:hover {
    color: $link-delete-hover-font-color;
    background-color: transparent;
  }
}

.validation-error {
  font-size: $validator-font-size;
  font-weight: $validator-font-weight;
  color: $validator-font-color;
}


label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.label-pair {
  line-height: $fc-line-height;
  margin-bottom: 1rem;
  position: relative;

  @media screen and (min-width: 800px) {
    width: 32%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;

    &.xsm {
      width: 8%;
    }

    &.sm {
      width: 15.5%;
    }

    &.med {
      width: 65%;
    }

    &.lrg {
      width: 100%;
    }
  }
}

fieldset {
  border: none;
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media screen and (min-width: 800px) {
    border-right: 1px solid #eee;
    width: 32%;
    padding-right: 2%;
    margin-right: 2%;

    &:last-of-type {
      border-right: none;
    }

    &:nth-child(3n) {
      padding-right: 0;
      margin-right: 0;
    }
  }

  .label-pair {
    width: 100%;
  }
}

textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #5091cd;
  }
}
