<app-header></app-header>

<div class="app-body" id="scrollTop">
  <nav class="action-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li *ngIf="activeBreadcrumb" class="breadcrumb-item">
        <a routerLink="">Home</a>
      </li>
      <li *ngIf="!activeBreadcrumb" class="breadcrumb-item active" aria-current="page">Home</li>

      <span *ngIf="breadcrumbs.length > 0">
        <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
          <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
        </li>
      </span>

      <li *ngIf="activeBreadcrumb" class="breadcrumb-item active" aria-current="page">{{ activeBreadcrumb.label }}</li>
    </ol>
  </nav>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
