<div class="spinner-container" *ngIf="mainLoading">
  <div class="spinner-new rotating"></div>
</div>

<app-header></app-header>

<div class="app-body">
  <div class="side-content" [ngClass]="{ sideContentClosed: !showSideContent }">
    <app-sidebar></app-sidebar>
    <app-toggle-button class="app-toggle"></app-toggle-button>
  </div>
  <div class="body-content" id="scrollTop">
    <lib-breadcrumb style="z-index: 3;" (navigateBreadcrumb)="navigateBreadcrumb($event)"></lib-breadcrumb>
    <div class="content-component" cdkScrollable>
      <div class="spinner-container body-spinner" *ngIf="bodyLoading">
        <div class="spinner-new rotating"></div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>