@import "~assets/styles/base/base.scss";

:host {
  display: block;

  @include flex-box();
  @include flex-direction(column);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Noto Sans', sans-serif;
}

app-header {
  @include flex(0 0 auto);
}

app-footer {
  z-index: 3;
}

app-toggle-button {
  position: absolute;
  z-index: 3;
  margin-top: 10px;
  top: 0;
  right: -35px;

  @media screen and (max-width: 768px) {
    margin-top: 3px;
  }
}

lib-breadcrumb {
  z-index: 1000;
}

.app-body {
  @include flex-box();
  @include flex(1 1 auto);
  @include flex-direction(row);

  background: #fff;
  position: relative;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
}

.side-content {
  @include flex-box();
  @include flex(0 0 $side-content-width);

  position: relative;
  transition: 0.3s;

  &.sideContentClosed {
    @include flex(0 0 0);

    transition: 0.3s;
  }
  
  z-index: 3;
}

.body-content {
  @include flex-box();
  @include flex(1 1 auto);
  @include flex-direction(column);

  width: calc(100% - #{$side-content-width});
  background-color: $white;
  z-index: 2;

  .content-component {
    @include flex-box();
    @include flex(1 1 auto);
    @include flex-direction(column);

    overflow: auto;
  }
}

.body-spinner {
  z-index: 2
}
