@import "assets/styles/base/base.scss";

@function repeater($item, $count) {
  $string: "";

  @for $i from 1 through $count {
    $string: $string + $item;
  }

  @return "#{$string}";
}

.files-info {
  margin-bottom: 0.5rem;
  font-size: small;
}

.material-icons {
  vertical-align: middle;
}

.dragarea,
.droparea {
  padding: 1rem;
  margin-top: 0.5rem;
  border-style: dashed;
  border-radius: 0.4rem;
  border-width: 3px;
  border-color: #ddd;
  background-color: $white;
  color: #bbb;
  font-size: 1rem;

  a {
    color: #007bff;
    font-size: 0.875rem;
    font-weight: 700;
  }
}

.dragarea {
  transition: all ease-out 0.2s;
}

.droparea {
  border-color: $fc-focus-border-color;
  background-color: #eff;
}

.files-list {
  margin-top: 1rem;

  ul {
    list-style: decimal;
    line-height: 1.7;
    margin: 0;
    overflow-x: hidden;

    li::before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: repeater(". ", 100);
    }

    li .name {
      padding-right: 0.5rem;
      background-color: $white;
    }

    li .value {
      float: right;
      clear: right;
      padding-left: 0.5rem;
      background-color: $white;
      margin-top: -2px;

      .btn i + span {
        vertical-align: text-top;
      }
    }
  }
}

.errors-list {
  margin-top: 1rem;
  margin-bottom: -1rem;

  ul {
    list-style: none;
    line-height: 1.7;
    padding-left: 20px;
    color: #f00;

    li,
    li span {
      display: flex;
    }
  }
}

.btn-xs {
  padding: 0 5px;
  font-size: 0.83rem;
  border-radius: 3px;

  .material-icons {
    font-size: large;
  }
}
