<main class="detail-page">
  <div>
    <section class="content-section">
      <div class="content-grid">
        <div class="grid-section-header">
          <div class="grid-section-header-title">
            <h4 class="grid-section-header-title-text blue-header">Shared Data [Master]</h4>
            <span *ngIf="data && data._master.dateUpdated" class="grey-subtext ml-2">
              Last Edited {{ (data && data._master.dateUpdated | date: 'mediumDate') || '-' }}
            </span>
          </div>
          <div class="grid-section-header-button">
            <button class="button-edit" (click)="navigateToEditPage()">
              <i class="material-icons">edit</i>
              <span>Edit</span>
            </button>
          </div>
        </div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Basic Information</span>
        </div>
        <div class="grid-section section-1">
          <div class="grid-item__row">
            <label class="grid-item-name">Record Type</label>
            <span class="grid-item-value">{{ (data && data._master.recordType) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <label class="grid-item-name">Author</label>
            <span class="gird-item-value">{{ (data && data._master.author) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <label class="grid-item-name">Date</label>
            <span class="gird-item-value">{{ (data && data._master.dateIssued | date: 'mediumDate') || '-' }}</span>
          </div>
        </div>
        <div class="grid-section section-2">
          <div class="grid-item__row">
            <label class="grid-item-name">Agency</label>
            <span class="grid-item-value">{{ (data && data._master.agency) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <label class="grid-item-name">Source System</label>
            <span class="grid-item-value">{{ (data && data._master.sourceSystemRef) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Location Details</span>
        </div>
        <div class="grid-section section-3">
          <div class="grid-item__row">
            <label class="grid-item-name">Site/Project</label>
            <span class="grid-item-value">{{ (data && data._master.projectName) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <label class="grid-item-name">Lat/Long</label>
            <span class="grid-item-value">{{ (data && data._master.centroid) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <label class="grid-item-name">Location</label>
            <span class="grid-item-value">{{ (data && data._master.location) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
        <div class="grid-section-sub-header">
          <span class="grid-section-sub-header-text">Documents</span>
        </div>
        <div class="grid-section section-4">
          <app-document-read-only [documents]="data && data._master && data._master.documents"></app-document-read-only>
        </div>
        <div class="grid-section-border"></div>
      </div>
    </section>
    <ng-container *ngFor="let flavourData of data && data.flavourData" [appRecordDetail]="flavourData"></ng-container>
  </div>
</main>
