<main class="container-fluid-padding">
  <section>
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between heading-bar">
      <div>
        <h1 id="name" class="m-0">{{ (mine && mine.name) || '-' }}</h1>
      </div>
      <div>
        <span ngbDropdown>
          <button class="btn btn-primary action-drop-button" id="actionDropdown" ngbDropdownToggle>Actions</button>
          <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
            <button class="dropdown-item" [routerLink]="['mines', mine && mine._id, 'upload']">Upload Document</button>
            <button class="dropdown-item" (click)="navigateToEditPage()">Edit</button>
          </div>
        </span>
      </div>
    </div>
  </section>

  <section class="mb-3 pb-3 border-bottom">
    <div class="row">
      <div class="mb-2 col-12 col-sm-8">
        <h2 class="border-0 mb-0">Mine Information</h2>
        <span class="grey-subtext">{{ lastEditedSubText }}</span>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-flex flex-column">
          <mat-slide-toggle
            name="publishLng"
            id="publishLng"
            class="publish-toggle"
            [ngClass]="isPublished ? 'published' : 'unpublished'"
            (change)="this.togglePublish()"
            [checked]="isPublished"
            [disabled]="!isPublished && !canPublish"
            title="{{ isPublished ? 'Unpublish mine' : 'Publish mine' }}"
          >
            {{ (isPublished && 'Published') || 'Not Published' }}
          </mat-slide-toggle>
          <span *ngIf="!canPublish && !isPublished" class="red-subtext">
            All fields are required to publish
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- Mine Information -->
  <section class="my-3 py-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        <div class="flex-container mb-2">
          <label for="permittee" class="med mr-2">Permittee:</label>
          <span id="permittee" name="permittee">{{ (mine && mine.permittee) || '-' }}</span>
        </div>
        <div class="flex-container mb-2">
          <label for="status" class="med mr-2">Operation Status:</label>
          <span id="status" name="status">{{ (mine && mine.status) || '-' }}</span>
        </div>
      </div>
      <div class="col-sm">
        <div class="flex-container mb-2">
          <label for="permit" class="med mr-2">Mines Act Permit Number:</label>
          <span id="permit" name="permit">
            {{ (mine && mine.permitNumber) || '-' }}
          </span>
        </div>
        <div class="flex-container mb-2">
          <label for="tailings" class="med mr-2">Number of Tailing Storage Facility:</label>
          <span id="tailings" name="tailings">{{ mine?.tailingsImpoundments }}</span>
        </div>
        <div class="flex-container mb-2">
          <label for="commodity" class="med mr-2">Commodities:</label>
          <span id="commodity" name="commodity">
            {{ (mine && mine.commodities && mine.commodities.length && mine.commodities.join(', ')) || '-' }}
          </span>
        </div>
      </div>
      <div class="col-sm">
        <div class="flex-container mb-2">
          <label for="region" class="med mr-2">Region:</label>
          <span id="region" name="region">{{ (mine && mine.region) || '-' }}</span>
        </div>
        <div class="flex-container mb-2">
          <label for="longitude" class="med mr-2">Longitude:</label>
          <span id="longitude" name="longitude">
            {{ (mine && mine.location && mine.location['coordinates'] && mine.location['coordinates'][0]) || '-' }}
          </span>
        </div>
        <div class="flex-container mb-2">
          <label for="latitude" class="med mr-2">Latitude:</label>
          <span id="latitude" name="latitude">
            {{ (mine && mine.location && mine.location['coordinates'] && mine.location['coordinates'][1]) || '-' }}
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="my-3 py-3">
    <div class="mb-2">
      <label for="type" class="med">Type:</label>
      <p id="type" name="type">{{ (mine && mine.type) || '-' }}</p>
    </div>
    <div class="mb-2">
      <label for="description" class="med">Description:</label>
      <p class="keep-whitespace" id="description" name="description">{{ (mine && mine.description) || '-' }}</p>
    </div>
    <div class="mb-2">
      <label for="summary" class="med">Summary:</label>
      <p class="keep-whitespace" id="summary" name="summary">{{ (mine && mine.summary) || '-' }}</p>
    </div>
  </section>

  <section *ngIf="mine && mine.links && mine.links.length > 0">
    <div class="d-flex my-3 py-3 border-bottom">
      <h2 class="border-0">External Links and Resources</h2>
    </div>

    <div class="my-3 py-3">
      <ul class="link-list pl-0">
        <li class="mb-3" *ngFor="let link of mine.links">
          <a [href]="link.url" target="_blank" title="{{ link.url }}">{{ link.title }}</a>
        </li>
      </ul>
    </div>
  </section>
</main>
