@import "~assets/styles/base/base.scss";
@import "assets/styles/components/add-edit.scss";

.filter-header {
  @include flex-box();
  @include flex-direction(row);

  &__button {
    background-color: $primary;
  }
}

.filter-footer {
  @include flex-box();
  @include flex-direction(row-reverse);

  &__button {
    background-color: $primary;
  }
}

.label-pair {
  width: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.date-container {
  .label-single,
  .label-pair {
    max-width: 46.5%;
    margin-right: 1%;
  }

  .date-separator {
    @include flex-box();

    margin-right: 1%;
  }
}

.date-container.flex-container {
  display: flex;
}

.issuedTo-container {
  mat-checkbox {
    border: none;
  }

  .label-single,
  .label-pair {
    max-width: 50%;
  }
}

.issuedTo-container.flex-container {
  display: flex;
}

.grey-subtext {
  color: $gray6;
  font-size: 15px;
  font-style: italic;
}
