<div class="my-3">
  <section>
    <div class="filter-header justify-content-between">
      <h3>Filter</h3>
      <button class="filter-header__button btn btn-primary align-self-start ml-3" (click)="closeButton.emit()">
        Minimize Advanced Filters
      </button>
    </div>
    <div>
      <p>
        The results list below will update instantly as you select criteria to filter. The URL will also update with
        your unique criteria. If you want to return to your exact criteria, you can bookmark this page after you have
        filtered (note that results may not be identical as content is updated).
      </p>
    </div>
  </section>
  <section>
    <form *ngIf="!loading" [formGroup]="formGroup" novalidate>
      <div class="flex-container">
        <div class="label-pair">
          <label for="dateIssuedStartFilter dateIssuedEndFilter">Issued Date</label>
          <span class="grey-subtext ml-2">(YYYY-MM-DD)</span>
          <div class="date-container">
            <lib-date-picker
              id="dateIssuedStartFilter"
              [control]="formGroup.get('dateIssuedStart')"
              [reset]="resetControls"
            ></lib-date-picker>
            <span class="date-separator align-self-center">To</span>
            <lib-date-picker
              id="dateIssuedEndFilter"
              [control]="formGroup.get('dateIssuedEnd')"
              [reset]="resetControls"
            ></lib-date-picker>
          </div>
        </div>
      </div>
      <div class="flex-container issuedTo-container no-wrap">
        <div class="label-pair">
          <label for="issuedToCompanyFilter issuedToIndividualFilter">Issued To</label>
          <mat-checkbox id="issuedToCompanyFilter" formControlName="issuedToCompany" class="form-control">
            Company
          </mat-checkbox>
        </div>
        <div class="label-single">
          <mat-checkbox id="issuedToIndividualFilter" formControlName="issuedToIndividual" class="form-control">
            Individual
          </mat-checkbox>
        </div>
      </div>
      <div class="flex-container">
        <div class="label-pair">
          <label for="activityTypeFilter">Activity Type</label>
          <span *ngIf="activityTypeCount" class="grey-subtext ml-2">({{ activityTypeCount }} selected)</span>
          <app-autocomplete-multi-select
            id="activityTypeFilter"
            [control]="formGroup.get('activityType')"
            [options]="activityTypeOptions"
            [reset]="resetControls"
            [placeholderText]="'Pick one or more activity types'"
            (numSelected)="activityTypeCount = $event"
          ></app-autocomplete-multi-select>
        </div>
      </div>
      <!-- temporarily hidden as per https://bcmines.atlassian.net/browse/PTI-513 -->
      <div [hidden]="true">
        <div class="label-pair">
          <label for="agencyFilter">Responsible Agency</label>
          <span *ngIf="agencyCount" class="grey-subtext ml-2">({{ agencyCount }} selected)</span>
          <app-autocomplete-multi-select
            id="agencyFilter"
            [control]="formGroup.get('agency')"
            [options]="agencyOptions"
            [reset]="resetControls"
            [placeholderText]="'Pick one or more responsible agencies'"
            (numSelected)="agencyCount = $event"
          ></app-autocomplete-multi-select>
        </div>
      </div>
      <div>
        <div class="label-pair">
          <label for="actFilter">Issued under which Act</label>
          <span *ngIf="actCount" class="grey-subtext ml-2">({{ actCount }} selected)</span>
          <app-autocomplete-multi-select
            id="actFilter"
            [control]="formGroup.get('act')"
            [options]="actOptions"
            [reset]="resetControls"
            [placeholderText]="'Pick one or more legislative acts'"
            (numSelected)="actCount = $event"
          ></app-autocomplete-multi-select>
        </div>
      </div>
      <div>
        <div class="label-pair">
          <label for="regulationFilter">Issued under which Regulation</label>
          <span *ngIf="regulationCount" class="grey-subtext ml-2">({{ regulationCount }} selected)</span>
          <app-autocomplete-multi-select
            id="regulationFilter"
            [control]="formGroup.get('regulation')"
            [options]="regulationOptions"
            [reset]="resetControls"
            [placeholderText]="'Pick one or more legislative regulations'"
            (numSelected)="regulationCount = $event"
          ></app-autocomplete-multi-select>
        </div>
      </div>
    </form>
    <div class="filter-footer">
      <button class="filter-footer__button btn btn-secondary align-self-end" (click)="clearSearchFilters()">
        Clear Filters
      </button>
    </div>
  </section>
</div>
