@use "assets/styles/base/base.scss" as base;
@use "assets/styles/components/add-edit.scss";

.filter-header {
  background-color: #003366;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &__button {
    background-color: base.$primary;
  }
}

.filter-footer {
  margin-top: 1rem;

  &__button {
    background-color: base.$primary;
    min-height: 40px;
  }
}

.label-pair {
  width: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.date-container {
  @include base.flex-box();

  .date-separator {
    @include base.flex-box();

    margin: 0 1%;
    font-weight: 600;
  }
}

.date-container.flex-container {
  display: flex;
}

.issuedTo-container {
  mat-checkbox {
    border: none;
  }

  .label-single,
  .label-pair {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .label-single {
    align-items: flex-start;
    padding-top: 1.5rem; // Align with the checkbox in label-pair
  }
}

.issuedTo-container.flex-container {
  display: flex;
}

.grey-subtext {
  color: $gray6;
  font-size: 15px;
  font-style: italic;
}
