.detail-page {
  .nav-section {
    font-weight: 600;
    text-align: center;

    .nav-items {
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid black;

      .nav-item {
        margin: 0 2rem;
        font-weight: 600;
        cursor: pointer;
        display: inline-block;

        &.active {
          border-bottom: 4px solid black;
        }

        .nav-item-icon {
          display: inline;
          vertical-align: middle;
          font-size: 1.5rem;
        }

        .nav-item-value {
          display: inline;
          vertical-align: middle;
          font-size: 1.25rem;
          margin-left: 0.25rem;
        }
      }
    }
  }

  .content-section {
    margin: 0.5rem;
    padding: 0.5rem;

    .content-grid {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 1.25rem;

      .grid-section-1 {
        display: grid;
        grid-gap: 0.75rem;
        grid-template-columns: 3fr 2fr 2fr 2fr;
      }

      .grid-section-2 {
        display: grid;
        grid-gap: 0.75rem;
        grid-template-columns: 3fr 2fr 4fr;
      }

      .grid-section-3 {
        display: grid;
        grid-gap: 0.75rem;
        grid-template-columns: 3fr 2fr 4fr;
      }

      .grid-section-4 {
        display: grid;
        grid-gap: 0.75rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }

      .grid-section-5 {
        display: grid;
        grid-gap: 0.75rem;
        grid-template-columns: auto;
      }

      .grid-item {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 0.25rem;

        .grid-item-name {
          font-weight: 600;
          font-size: 1rem;
        }

        .grid-item-value {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          font-weight: 400;
          font-size: 1rem;

          .grid-sub-item {
            display: grid;
            grid-template-rows: auto;
            grid-gap: 0.25rem;

            .grid-sub-item-name {
              display: grid;
              font-weight: 600;
              font-size: 0.75rem;
            }

            .grid-sub-item-value {
              display: grid;
              font-weight: 400;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}
