<div class="container">
  <section>
    <h1>
      AUTHORIZATIONS
    </h1>
    <div>
      <ng-container *ngFor="let line of text | linkify">
        <p [innerHTML]="line"></p>
      </ng-container>
    </div>
    <div>
      <button class="btn btn-primary mb-3" type="button" title="Apply filters" (click)="togglePanel()">
        Filter Results
      </button>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col" [hidden]="showpanel">
        <app-explore-panel
          #explorePanel
          (hideSidePanel)="togglePanel()"
          [filterSections]="filters"
          (updateFilters)="filterChange($event)"
        ></app-explore-panel>
      </div>
      <div class="col">
        <app-documents [pageType]="pageType"></app-documents>
      </div>
    </div>
  </section>
</div>
