<form *ngIf="formGroup" [formGroup]="formGroup" novalidate>
  <section>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <label for="dateIssuedStartFilter" class="control-label font-weight-bold">Start Issued Date</label>
            <lib-date-picker
              id="dateIssuedStartFilter"
              [control]="formGroup.get('dateIssuedStart')"
              [reset]="resetControls"
              [minDate]="minDate"
              [maxDate]="maxDate"></lib-date-picker>
          </div>
          <div class="col-6">
            <label for="dateIssuedEndFilter" class="control-label font-weight-bold">End Issued Date</label>
            <lib-date-picker
              id="dateIssuedEndFilter"
              [control]="formGroup.get('dateIssuedEnd')"
              [reset]="resetControls"
              [minDate]="minDate"
              [maxDate]="maxDate"></lib-date-picker>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label class="control-label font-weight-bold">Entity Type</label>
        <div class="row">
          <div class="col-6">
            <mat-checkbox id="issuedToCompany" formControlName="issuedToCompany">
              Company
            </mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox id="issuedToIndividual" formControlName="issuedToIndividual">
              Individual
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label class="control-label font-weight-bold">NRCED Published State</label>
        <div class="row">
          <div class="col-4">
            <div class="radio">
              <input class="mr-2" type="radio" id="nrcedPublsihed" value="true" formControlName="isNrcedPublished"
                name="isNrcedPublished" />
              <label for="nrcedPublsihed">Published</label>
            </div>
          </div>
          <div class="col-4">
            <div class="radio">
              <input class="mr-2" type="radio" id="nrcedNotPublsihed" value="false" formControlName="isNrcedPublished"
                name="isNrcedPublished" />
              <label for="nrcedNotPublsihed">Unpublished</label>
            </div>
          </div>
          <div class="col-4">
            <button
              class="btn btn-secondary"
              (click)="resetFilter('isNrcedPublished')">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-4">
        <label for="activityTypeFilter">Activity Type</label>
        <span class="grey-subtext ml-2">Select all that apply</span>
        <span *ngIf="activityTypeCount" class="grey-subtext ml-2">({{ activityTypeCount }} selected)</span>
        <app-autocomplete-multi-select
          id="activityTypeFilter"
          [control]="formGroup.get('activityType')"
          [options]="activityTypeOptions"
          [reset]="resetControls"
          [placeholderText]="'Begin typing to filter activities...'"
          (numSelected)="activityTypeCount = $event"></app-autocomplete-multi-select>
      </div>
      <div class="col-4">
        <div class="label-pair">
          <label for="actFilter">Act</label>
          <span *ngIf="actCount" class="grey-subtext ml-2">({{ actCount }} selected)</span>
          <app-autocomplete-multi-select
            id="actFilter"
            [control]="formGroup.get('act')"
            [options]="actOptions"
            [reset]="resetControls"
            [placeholderText]="'Begin typing to filter acts...'"
            (numSelected)="actCount = $event"></app-autocomplete-multi-select>
        </div>
      </div>
      <div class="col-4">
        <label class="control-label font-weight-bold">LNG Published State</label>
        <div class="row">
          <div class="col-4">
            <div class="radio">
              <input class="mr-2" type="radio" id="lngPublsihed" value="true" formControlName="isLngPublished"
                name="isLngPublished" />
              <label for="lngPublsihed">Published</label>
            </div>
          </div>
          <div class="col-4">
            <div class="radio">
              <input class="mr-2" type="radio" id="lngNotPublsihed" value="false" formControlName="isLngPublished"
                name="isLngPublished" />
              <label for="lngNotPublsihed">Unpublished</label>
            </div>
          </div>
          <div class="col-4">
            <button
              class="btn btn-secondary"
              (click)="resetFilter('isLngPublished')">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-4">
        <label for="agencyFilter">Responsible Agency</label>
        <span *ngIf="agencyCount" class="grey-subtext ml-2">({{ agencyCount }} selected)</span>
        <app-autocomplete-multi-select
          id="agencyFilter"
          [control]="formGroup.get('agency')"
          [options]="agencyOptions"
          [reset]="resetControls"
          [placeholderText]="'Begin typing to filter agencies...'"
          (numSelected)="agencyCount = $event"></app-autocomplete-multi-select>
      </div>
      <div class="col-4">
        <div class="label-pair">
          <label for="regulationFilter">Regulation</label>
          <span *ngIf="regulationCount" class="grey-subtext ml-2">({{ regulationCount }} selected)</span>
          <app-autocomplete-multi-select
            id="regulationFilter"
            [control]="formGroup.get('regulation')"
            [options]="regulationOptions"
            [reset]="resetControls"
            [placeholderText]="'Begin typing to filter regulations...'"
            (numSelected)="regulationCount = $event"></app-autocomplete-multi-select>
        </div>
      </div>
      <div class="col-4">
        <!-- <label for="sourceSystemFilter">Source System</label>
        <select
          name="sourceSystemFilter"
          id="sourceSystemFilter"
          formControlName="sourceSystemRef"
          class="form-control">
          <option [selected]="!selectedSystemRef" value="">None</option>
          <option [selected]="selectedSystemRef === 'nrpti'" value="nrpti">NRPTI</option>
          <option [selected]="selectedSystemRef === 'ocers-csv'" value="ocers-csv">OCERS</option>
          <option [selected]="selectedSystemRef === 'nris-epd'" value="nris-epd">NRIS</option>
          <option [selected]="selectedSystemRef === 'epic'" value="epic">EPIC</option>
        </select> -->
        <mat-label>Source System</mat-label>
        <mat-select class="border-bottom pt-3" [formControl]="systemRefControl" multiple>
          <mat-option *ngFor="let systemRef of systemRefOptions" [value]="systemRef">{{systemRef}}</mat-option>
        </mat-select>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-4" [formGroup]="formGroup.get('projects')">
        <label class="control-label font-weight-bold">Project</label>
        <div class="row checkbox-group" name="projectFilter">
          <div class="col-4">
            <div class="checkbox">
              <input class="mr-2" type="checkbox" id="lngCanada" formControlName="lngCanada" name="lngCanada" />
              <label for="lngCanada">LNG Canada</label>
            </div>
          </div>
          <div class="col-4">
            <div class="checkbox">
              <input
                class="mr-2"
                type="checkbox"
                id="coastalGaslink"
                formControlName="coastalGaslink"
                name="coastalGaslink" />
              <label for="coastalGaslink">Coastal Gaslink</label>
            </div>
          </div>
          <div class="col-4">
            <div class="checkbox">
              <input
                class="mr-2"
                type="checkbox"
                id="otherProjects"
                formControlName="otherProjects"
                name="otherProjects" />
              <label for="otherProjects">Other</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label class="control-label font-weight-bold">Documents</label>
        <div class="row radio-group" name="hasDocuments">
          <div class="col-4">
            <div class="radio">
              <input
                class="mr-2"
                type="radio"
                id="hasDocs"
                value="true"
                formControlName="hasDocuments"
                name="hasDocuments" />
              <label for="hasDocs">Yes</label>
            </div>
          </div>
          <div class="col-4">
            <div class="radio">
              <input
                class="mr-2"
                type="radio"
                id="doesNothaveDocs"
                value="false"
                formControlName="hasDocuments"
                name="hasDocuments" />
              <label for="doesNothaveDocs">No</label>
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-secondary" (click)="resetFilter('hasDocuments')">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<section class="mt-4">
  <button class="btn btn-primary float-right" (click)="clearSearchFilters()">
    Reset Filters
  </button>
</section>