@import 'assets/styles/base/base.scss';

// style the wrapping <tr></tr> tags
:host-context(tr) {
  border: 1px solid $mn-border-color;
  border-radius: 6px;
  margin-bottom: 0.25rem;

  &:hover {
    background-color: $table-row-hover-bg;
  }
}

.table-card-outer {
  position: relative;

  .table-card {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    cursor: pointer;

    .table-card-inner {
      display: grid;
      grid-gap: 0.25rem;
      // TODO enable this extra column when documents are available
      grid-template-columns: minmax(100px, 3fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 3fr) minmax(100px, 1fr); // minmax(100px, 1fr);

      .card-col {
        display: grid;

        .card-col-label {
          display: grid;
          font-weight: 600;
        }

        .download-btn {
          display: grid;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .table-card-inner {
        grid-gap: 0.5rem;
        grid-template-columns: auto;
        grid-auto-rows: auto;

        .card-col {
          grid-gap: 0.5rem;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  .closeDetailsContainerButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    i {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 768px) {
    .closeDetailsContainerButton {
      top: 0;
      right: -5px;
    }
  }
}
