<td class="table-card-outer">
  <div (click)="rowClicked()" title="Show record details">
    <div *ngIf="!displayDetailsComponent" class="table-card">
      <div class="table-card-inner">
        <div class="card-col">
          <div class="card-col-label">
            {{ tableData.columns[0].name }}
          </div>
          <div class="truncate" class="truncate">
            {{ entityString || '-' }}
          </div>
        </div>
        <div class="card-col">
          <div class="card-col-label">
            {{ tableData.columns[1].name }}
          </div>
          <div class="truncate">
            {{ rowData.recordType || '-' }}
          </div>
        </div>
        <div class="card-col">
          <div class="card-col-label">
            {{ tableData.columns[2].name }}
          </div>
          <div class="truncate">
            {{ rowData.location || '-' }}
          </div>
        </div>
        <div class="card-col">
          <div class="card-col-label">
            {{ tableData.columns[3].name }}
          </div>
          <div class="truncate">
            {{ description || '-' }}
          </div>
        </div>
        <div class="card-col">
          <div class="card-col-label">
            {{ tableData.columns[4].name }}
          </div>
          <div class="truncate">
            {{ (rowData.dateIssued | date: 'mediumDate') || '-' }}
          </div>
        </div>
        <div class="card-col align-content-center">
          <div *ngIf="rowData?.documents?.length" class="truncate">
            <i class='material-icons'>attach_file</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container #detailsComponentContainer></ng-container>
  <button
    *ngIf="displayDetailsComponent"
    class="closeDetailsContainerButton"
    type="submit"
    title="Close record details"
    (click)="removeDetailsComponent()">
    <i class="material-icons">close</i>
  </button>
</td>