@use "assets/styles/base/base.scss" as base;

.bg-dark {
  color: base.$bg-dark-color;
  background-color: base.$bg-dark;
}

.bg-dark-link {
  color: base.$bg-dark-link-color;
}

.amp {
  font-size: 72%;
  font-weight: 400;
}
