<main class="detail-page">
  <div>
    <section class="content-section">
      <div class="content-grid">
        <div class="grid-section-header">
          <div class="grid-section-header-title">
            <span class="grid-section-header-title-text">BCMI Data</span>
            <span *ngIf="data && data.dateUpdated" class="grey-subtext ml-2">
              Last Edited {{ (data && data.dateUpdated | date: 'mediumDate') || '-' }}
            </span>
          </div>
          <div class="grid-section-header-button">
            <span *ngIf="!isPublished" class="grid-section-header-button-sub-text grey-subtext">Not Published</span>
            <span *ngIf="isPublished" class="grid-section-header-button-sub-text grey-subtext">
              Published on {{ (data && data.datePublished | date: 'mediumDate') || '-' }}
            </span>
            <button
              *ngIf="!isPublished"
              class="button-publish"
              (click)="publish()"
              [disabled]="!this.factoryService.userInBcmiRole()"
            >
              <i class="material-icons">check</i>
              <span>Publish to BCMI</span>
            </button>
            <button
              *ngIf="isPublished"
              class="button-unpublish"
              (click)="unPublish()"
              [disabled]="!this.factoryService.userInBcmiRole()"
            >
              <i class="material-icons">close</i>
              <span>Unpublish from BCMI</span>
            </button>
          </div>
        </div>
        <div class="grid-section section-1">
          <div class="grid-item__row">
            <label class="grid-item-name">Description</label>
            <span class="grid-item-value">{{ (data && data.description) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-border"></div>
      </div>
    </section>
  </div>
</main>
