@use 'assets/styles/base/base.scss' as base;
@use 'assets/styles/components/add-edit.scss';
@use 'assets/styles/components/slide-toggle.scss' as st;

.heading-bar {
  margin: -18px -24px 32px;
  padding: 14px 24px;
  background: base.$side-content-nested-bg-color;
  color: base.$white;

  > div {
    height: 2.5rem;
  }
}

h1 {
  color: base.$white;
  font-size: base.$mine-header-font-size;
  font-weight: base.$mine-header-font-weight;
  text-transform: uppercase;
}

h2 {
  color: base.$mine-primary-font-color;
  font-size: base.$mine-header-font-size;
  font-weight: base.$mine-header-font-weight;
  text-transform: uppercase;
}

label {
  margin-bottom: 0.25rem;

  &.sm,
  :not(.med) {
    font-size: base.$mine-body-font-size-sm;
    font-weight: base.$mine-body-font-weight-sm;
  }

  &.med {
    font-size: base.$mine-body-font-size-md;
    font-weight: base.$mine-body-font-weight-md;
  }
}

select {
  font-size: base.$mine-body-font-size-md;
  font-weight: base.$mine-body-font-weight-sm;
  border: 1px solid #ababab;

  &:focus {
    border-color: #5091cd;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

textarea,
input[type='text'] {
  font-size: base.$mine-body-font-size-md;
  font-weight: base.$mine-body-font-weight-sm;
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ababab;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #5091cd;
  }
}

@include st.slide-toggle(base.$mine-published-font-color, base.$mine-unpublished-font-color);
.publish-toggle {
  font-size: base.$mine-publish-font-size;
  font-weight: base.$mine-publish-font-weight;

  &.published {
    color: base.$mine-published-font-color;
  }

  &.unpublished {
    color: base.$mine-unpublished-font-color;
  }
}

.add-records-btn {
  color: base.$white;
  background-color: base.$mine-add-record-btn;
}

.grey-subtext {
  color: base.$gray6;
  font-size: 15px;
  font-style: italic;
}

.red-subtext {
  font-size: 15px;
  font-style: italic;
  color: base.$mine-publish-error;
}

.action-drop-button {
  border: 3px solid base.$white;
}

.link-list {
  list-style: none;
}
