@use "assets/styles/base/base.scss" as base;

.modal-header {
  background-color: base.$white;
  justify-content: space-between;

  .modal-title {
    font-weight: bold;
  }
}

.modal-dialog {
  max-width: 800px;
}

.modal-body {
  background-color: base.$modal-bg;

  textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
}

.modal-footer {
  background-color: base.$white;
}
