.modal-header {
  background-color: $white;

  .modal-title {
    font-weight: bold;
  }
}

.modal-body {
  background-color: $modal-bg;

  textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
}

.modal-footer {
  background-color: $white;
}
