@use 'assets/styles/base/base.scss' as base;

.nav-tabs {
  @include base.flex-flow(row wrap);
  border-bottom: none;

  .nav-link {
    padding: 0.75rem 0.2rem;
    border: none;
    background: base.$tab-sm-bg;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in 0.2s;
  }
}

@media (max-width: 767px) {
  .nav-tabs {
    margin: -0.15rem;
    margin-bottom: 1.5rem;

    .nav-link {
      margin: 0.15rem;
      border-radius: 0;

      &.active {
        color: base.$tab-sm-active-color;
        background-color: base.$tab-sm-active-bg;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-tabs {
    @include base.flex-flow(row nowrap);
    margin-bottom: 2.5rem;
    border-bottom: 2px solid base.$tab-nav-border-color;
    background-color: base.$tab-nav-bg;

    .nav-item {
      margin-bottom: -2px;
      display: inline-block;
      width: auto;
      max-width: min-content;
    }

    .nav-link {
      position: relative;
      padding: 0.75rem;
      color: rgba(base.$tab-color, 0.8);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: transparent;
      font-size: 0.85rem;

      &:hover {
        background-color: base.$tab-hover-bg;
        box-shadow: 0 -2px 0 base.$tab-nav-border-color inset;
      }

      &.active {
        color: base.$tab-color;
        background-color: base.$tab-active-bg;
        box-shadow: 0 2px 0 base.$tab-nav-border-color inset, 2px 0 base.$tab-nav-border-color inset,
          -2px 0 base.$tab-nav-border-color inset;
      }
    }
  }
}
