<td scope="row" data-label="Name" class="col-2">{{ rowData.recordName }}</td>
<td scope="row" data-label="Government Agency" class="col-2">{{ rowData.issuingAgency }}</td>
<td scope="row" data-label="Phase" class="col-2">{{ rowData.relatedPhase }}</td>
<td scope="row" data-label="Type" class="col-2">{{ rowData.recordType }}</td>
<td scope="row" data-label="Date" class="col-3">{{ rowData.dateIssued | date: 'LLLL d, y' }}</td>
<td scope="row" data-label="Download" style="text-align: center;" class="col-1">
  <button
    *ngIf="!rowData.documents || rowData.documents.length === 0"
    class="btn btn-primary"
    type="button"
    disabled
    target="_blank"
  >
    <span style="color: white;" class="material-icons">
      cloud_download
    </span>
  </button>
  <a
    *ngIf="rowData.documents && rowData.documents.length > 0"
    class="btn btn-primary"
    type="button"
    href="{{ rowData.documents[0].url }}"
    target="_blank"
  >
    <span style="color: white;" class="material-icons">
      cloud_download
    </span>
  </a>
</td>
