<td scope="row" data-label="Name" class="col-2">{{ rowData.recordName }}</td>
<td scope="row" data-label="Government Agency" class="col-2">
  {{ displayName(rowData.issuingAgency) || rowData.agency }}
</td>
<td scope="row" data-label="Phase" class="col-2">{{ rowData.relatedPhase }}</td>
<td scope="row" data-label="Type" class="col-2">{{ rowData.recordType }}</td>
<td scope="row" data-label="Date" class="col-3">{{ rowData.dateIssued | date: 'LLLL d, y' }}</td>
<td scope="row" data-label="Download" style="text-align: center;" class="col-1">
  <a
    *ngIf="rowData.documents && rowData.documents.length > 0"
    class="btn content-btn-dark page-bottom-btn"
    href="{{ rowData.documents[0].url }}"
    target="_blank"
  >
    <i class="material-icons">
      cloud_download
    </i>
  </a>
</td>
