<main class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <div class="d-flex">
    <h2 *ngIf="isEditing">Edit News Post</h2>
    <h2 *ngIf="!isEditing">Add News Post</h2>
    <div class="ml-auto">
      <button class="btn btn-outline-primary mr-1" type="cancel" (click)="navigateBack()">Cancel</button>
      <button class="btn btn-primary" type="cancel" (click)="submit()">Save</button>
    </div>
  </div>
  <hr />
  <form *ngIf="!loading" [formGroup]="myForm" novalidate>
    <div class="row m-1">
      <div class="label-pair mr-5 mt-4" *ngIf="myForm && myForm.controls.date">
        <label class="font-weight-bold" for="date">Date:</label>
        <lib-date-picker
          [control]="myForm.controls.date"
          [isValidate]="true"
          [minDate]="datepickerMinDate"
        ></lib-date-picker>
      </div>
      <div class="label-pair mr-5 mt-4">
        <label for="type" class="font-weight-bold mr-1">Type:</label>
        <select [compareWith]="compareTypeSelection" name="type" id="type" formControlName="type" class="form-select">
          <option *ngFor="let type of activityTypes" [ngValue]="type">{{ type }}</option>
        </select>
      </div>
      <div class="label-pair mr-5 mt-4">
        <label class="font-weight-bold mr-1">System:</label>
        <div class="d-flex p-2">
          <span class="align-middle">{{ record.system | uppercase }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="label-pair mr-5 mt-4 col-12">
        <label for="title" class="font-weight-bold mr-1">Title:</label>
        <textarea name="title" id="title" type="text" formControlName="title" class="form-control" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="label-pair mr-5 mt-4 col-12">
        <label for="description" class="font-weight-bold mr-1">Content:</label>
        <textarea
          name="description"
          id="description"
          type="text"
          formControlName="description"
          class="form-control"
          rows="10"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="label-pair mr-5 mt-4 col-12">
        <label for="project name" class="font-weight-bold mr-1">Project:</label>
        <select
          [compareWith]="compareProjectSelection"
          name="_epicProjectId"
          id="_epicProjectId"
          formControlName="_epicProjectId"
          class="form-control"
        >
          <option *ngFor="let project of projects" [ngValue]="project">{{ project.name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="label-pair mr-5 mt-4 col-12">
        <label for="url" class="font-weight-bold mr-1">URL:</label>
        <textarea name="url" id="url" type="text" formControlName="url" class="form-control" rows="1"></textarea>
      </div>
    </div>
  </form>
</main>
