<main class="container-fluid-padding">
  <section>
    <div class="d-flex heading-bar">
      <div>
        <h1 id="name" class="m-0">{{ (mine && mine.name) || '-' }}</h1>
      </div>
    </div>
  </section>

  <section>
    <!-- TAB HEADERS -->
    <div role="navigation">
      <ul class="nav nav-tabs nav-fill pl-2" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
          <a
            class="nav-link"
            role="tab"
            [routerLink]="tabLink.link"
            routerLinkActive
            #rla="routerLinkActive"
            [class.active]="rla.isActive"
          >
            {{ tabLink.label }}
          </a>
        </li>
      </ul>
    </div>
    <!-- TAB CONTENTS GO HERE -->
    <router-outlet></router-outlet>
  </section>
</main>
