<ng-container *ngFor="let penalty of data">
  <div class="penalty-divider"></div>
  <div class="grid-section section-1">
    <div class="grid-item__row">
      <label class="grid-item-name">Penalty</label>
      <span class="grid-item-value__col">{{ (penalty && penalty.buildPenaltyValueString()) || '-' }}</span>
    </div>
    <div class="grid-item__row">
      <label class="grid-item-name">Type</label>
      <span class="grid-item-value__col">{{ (penalty && penalty.type) || '-' }}</span>
    </div>
    <div class="grid-item__row">
      <label class="grid-item-name">Description</label>
      <span class="grid-item-value__col">{{ (penalty && penalty.description) || '-' }}</span>
    </div>
  </div>
</ng-container>
