<div class="container">
  <section id="anchor-point">
    <div class="hero-banner">
      <div class="hero-banner__content">
        <h1>CONTACT US</h1>
        <p>
          This website is an aspect of British Columbia's commitment to provide details about the provincial government’s role as it relates to LNG Canada, including the initial environmental assessment process, engagement with Indigenous Nations, permitting, regulatory oversight and compliance procedures.
        </p>

        <br>
        <h2>Help Us Build a Better Site</h2>

        <p>
          More information and features will be added on an ongoing basis, and the design will be refined to improve user experience. Suggestions may be sent via email, using the button below.
        </p>

        <br>
        <div class="feedback-btn">
          <a href="mailto:lng@gov.bc.ca?subject=Feedback">
            <button class="btn btn-primary">
              <i class="material-icons mr-1">mail</i>
              Submit feedback
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>Contacts</h2>
    <div class="block-container">

      <div class="block">
        <div class="inner-block">
          <div class="inner-block-top">
            <h3>The BC Oil and Gas Commission</h3>
            <p>For regulatory inquires about the natural gas industry, or to report an emergency, contact the BC Oil and Gas Commission using the methods below.</p>
            <h4>Contacts:</h4>
            <div class="h-align">
              <span>Toll free: </span>
              <span><strong>1-800-663-7867</strong></span>
            </div>

            <div class="h-align">
              <span>
                24-hour incident reporting:
              </span>
              <strong>1-800-663-3456</strong>
            </div>
          </div>
          <div class="inner-block-bottom">
            <div class="h-align">

              <div class="contact-btn">
                <a href="https://www.bcogc.ca/">
                  <button class="btn btn-primary">
                    <i class="material-icons mr-1">web</i>
                    Ministry Website 
                  </button>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="inner-block">
          <div class="inner-block-top">
            <div class="inner-block-top-top">
              <h3>British Columbia Environmental Assessment Office</h3>
              <p>For details about the environmental assessment process, or questions about compliance and enforcement linked to an environmental assessment certificate, please use the contact details below.</p>
              <h4>Contacts:</h4>
              <div class="h-align">
                <span>Phone: </span>
                <span><strong>1-250-356-6448</strong></span>
              </div>
            </div>
          </div>
          <div class="inner-block-bottom">
            <div class="h-align">

              <div class="contact-btn">
                <a href="https://www2.gov.bc.ca/gov/content/environment/natural-resource-stewardship/environmental-assessments">
                  <button class="btn btn-primary">
                    <i class="material-icons mr-1">web</i>
                    Ministry Website 
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
