// base scss found in record-details.scss

.grid-section-1 {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 3fr 2fr 2fr 2fr;
}

.grid-section-2 {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 3fr 2fr 4fr;
}

.grid-section-3 {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: auto;
}

.grid-section-4 {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 3fr 2fr 4fr;
}

.grid-section-6 {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: auto;
}

@media screen and (max-width: 768px) {
  .grid-section-1 {
    grid-template-columns: none;
  }

  .grid-section-2 {
    grid-template-columns: none;
  }

  .grid-section-3 {
    grid-template-columns: none;
  }

  .grid-section-4 {
    grid-template-columns: none;
  }

  .grid-section-5 {
    grid-template-columns: none;
  }

  .grid-item__row {
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.625rem;
  }
}
