<main class="detail-page">
  <div>
    <section class="nav-section">
      <ul class="nav-items">
        <li
          class="nav-item"
          [ngClass]="{ active: isTabActive('detail') }"
          (click)="activateTab('detail')"
          title="Ticket activity details"
        >
          <i class="nav-item-icon material-icons">info</i>
          <a class="nav-item-value">Activity Details</a>
        </li>
        <!-- <li
          class="nav-item"
          [ngClass]="{ active: isTabActive('location') }"
          (click)="activateTab('location')"
          title="Ticket location details"
        >
          <i class="nav-item-icon material-icons">room</i>
          <a class="nav-item-value">Location</a>
        </li> -->
      </ul>
    </section>
    <section class="content-section" *ngIf="isTabActive('detail')">
      <div class="content-grid">
        <div class="grid-section-1">
          <div class="grid-item__row">
            <span class="grid-item-name">Activity</span>
            <span class="grid-item-value__col">{{ (data && data.recordName) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Issued To</span>
            <span class="grid-item-value__col">{{ entityString || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Activity Type</span>
            <span class="grid-item-value__col">{{ (data && data.recordType) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Issued On</span>
            <span class="gird-item-value">{{ (data && data.dateIssued | date: 'mediumDate') || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-2">
          <div class="grid-item__row">
            <span class="grid-item-name">Summary</span>
            <span class="grid-item-value__col">{{ (data && data.summary) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Issuing Agency</span>
            <span class="grid-item-value__col">{{ (data && data.issuingAgency) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Legislation</span>
            <div class="grid-item-value__flex__row">
              <div class="grid-item__flex">
                <span class="grid-item-name">Act</span>
                <span class="grid-item-value">
                  {{ (data && data.legislation && data.legislation.act) || '-' }}
                </span>
              </div>
              <div class="grid-item__flex">
                <span class="grid-item-name">Regulation</span>
                <span class="grid-item-value">
                  {{ (data && data.legislation && data.legislation.regulation) || '-' }}
                </span>
              </div>
              <div class="grid-item__row">
                <span class="grid-item-name">Section (Sub-Section) (Paragraph)</span>
                <span class="grid-item-value">
                  {{ (data && data.legislation && data.legislation.section) || '-' }}
                  ({{ (data && data.legislation && data.legislation.subSection) || '-' }}) ({{
                    (data && data.legislation && data.legislation.paragraph) || '-'
                  }})
                </span>
              </div>
            </div>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Penalty</span>
            <span class="grid-item-value__col">{{ (data && data.penalty) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-3">
          <div class="grid-item__row">
            <span class="grid-item-name">Site/Project</span>
            <span class="grid-item-value__col">{{ (data && data.projectName) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Location Description</span>
            <span class="grid-item-value__col">{{ (data && data.location) || '-' }}</span>
          </div>
          <div class="grid-item__row">
            <span class="grid-item-name">Lat/Long</span>
            <span class="grid-item-value__col">{{ (data && data.centroid) || '-' }}</span>
          </div>
        </div>
        <div class="grid-section-5">
          <div class="grid-item__row">
            <span class="grid-item-name">Documents</span>
            <span class="grid-item-value__col" *ngIf="data && data.documents && data.documents.length > 0">
              <span *ngFor="let document of data && data.documents">
                <a href="{{ document.url }}" target=" _blank">{{ document.fileName }}</a>
              </span>
            </span>
            <span class="grid-item-value__col" *ngIf="!(data && data.documents && data.documents.length > 0)">
              This record does not have documents
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section" *ngIf="isTabActive('location')">
      This is a map!
    </section>
  </div>
</main>
