<main class="container-fluid-padding">
  <section>
    <div class="d-flex heading-bar">
      <div>
        <h1 id="name" class="m-0">{{ (mine && mine.name) || '-' }}</h1>
      </div>
    </div>
  </section>

  <section>
    <!-- TAB HEADERS -->
    <div role="navigation">
      <ul class="nav nav-tabs nav-fill pl-2" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            role="tab"
            routerLink="/mines/{{ mine && mine._id }}/records"
            [class.active]="false"
          >
            Records
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            role="tab"
            routerLink="/mines/{{ mine && mine._id }}/collections"
            routerLinkActive
            #rla="routerLinkActive"
            [class.active]="true"
          >
            Collections
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="border-bottom">
      <div class="text-right mb-3">
        <button class="btn btn-primary" (click)="addCollection()" title="Create new collection">
          <i class="material-icons mr-1 align-middle">add</i>
          <span class="align-middle">Create New Collection</span>
        </button>
      </div>
    </div>
  </section>

  <section class="mb-1 pb-1">
    <div *ngIf="!tableData.totalListItems">
      No Collections found.
    </div>

    <lib-table-template
      *ngIf="tableData.totalListItems > 0"
      [data]="tableData"
      (messageOut)="onMessageOut($event)"
    ></lib-table-template>
  </section>
</main>