@use '../..assets/styles/base/base.scss' as *;
@use '../..assets/styles/components/drag-drop.scss' as *;

$link-label-font-size-sm: 0.875rem;
$link-label-font-size-md: 1rem;

$link-body-font-weight-sm: 400;
$link-body-font-weight-md: 700;

$link-delete-font-color: #d8292f;
$link-delete-hover-font-color: #ff4a4a;
$link-info-font-color: #949494;

form {
  input {
    font-size: $link-label-font-size-md;
    font-weight: $link-body-font-weight-sm;
  }

  label {
    font-size: $link-label-font-size-sm;
    font-weight: $link-body-font-weight-sm;
  }
}

.btn-remove {
  i {
    color: $link-delete-font-color;
    vertical-align: none;
  }

  &:hover {
    color: $link-delete-hover-font-color;
    background-color: transparent;
  }
}

.btn-drag {
  i {
    color: $link-info-font-color;
    vertical-align: none;
  }

  &:hover {
    color: $link-delete-hover-font-color;
    background-color: transparent;
  }
}

.validation-error {
  font-size: $validator-font-size;
  font-weight: $validator-font-weight;
  color: $validator-font-color;
}
