<div class="drag-drop-container" cdkDropList (cdkDropListDropped)="dropLink($event)">
  <div class="drag-drop-list" *ngFor="let formGroup of formArray.controls; let idx = index" cdkDrag cdkDragLockAxis="y">
    <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>

    <form [formGroup]="formGroup" class="mb-4">
      <div class="flex-container">
        <div class="d-flex flex-fill">
          <button class="btn btn-icon btn-no-hover align-middle mt-4" title="Drag & drop to reorder">
            <i class="material-icons" cdkDragHandle>reorder</i>
          </button>
          <div class="label-pair flex-fill">
            <label>Link Title</label>
            <div class="label-pair mr-3">
              <input type="text" placeholder="Enter link title" formControlName="title" class="form-control" />
            </div>
          </div>
          <div class="label-pair flex-fill">
            <label>Link URL</label>
            <div class="label-pair mr-3">
              <input type="text" placeholder="Enter link url" formControlName="url" class="form-control" />
            </div>
          </div>
          <div>
            <button
              class="btn btn-icon btn-no-hover btn-remove align-middle mt-4"
              style="margin-top: 3px"
              type="button"
              title="Remove link"
              (click)="removeLink(idx)"
            >
              <i class="material-icons">
                remove_circle
              </i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="label-pair">
  <button type="button" class="btn btn-primary mt-3" title="Add link" (click)="addLink()">
    <i class="material-icons">
      add
    </i>
    Add Link
  </button>
</div>
