@use 'assets/styles/base/base.scss' as *;
@use 'assets/styles/components/add-edit.scss';

.grey-subtext {
  color: $gray6;
  font-size: 15px;
  font-style: italic;
}

section:nth-child(-n + 2) {
  border-bottom: 1px solid lightgrey;
}
