<main id="anchor-point">
  <div class="container">
    <div class="home-title-container">
      <h1 id="pgTitle">
        <span>Import Logs</span>
      </h1>
    </div>

    <div class="container-fluid-padding m-3">
      <div class="row date-range">
        <div class="col-md-6">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dateStart"
              [(ngModel)]="dateStart"
              ngbDatepicker
              #dateStartPicker="ngbDatepicker"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dateStartPicker.toggle()" type="button">
                <i class="material-icons">date_range</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group m-3">
      <button type="button" class="btn btn-primary" (click)="startJob()">Start Job</button>
    </div>
  </div>
</main>

<div class="container-fluid-padding">
  <div class="input-group m-3">
    <button type="button" [disabled]="showAlert" class="btn btn-primary" (click)="startJob()">Start Job</button>
  </div>
  <div class="input-group m-3">
    <div *ngIf="showAlert" class="alert alert-success" role="alert">
      Job has started.
    </div>
  </div>

  <div *ngIf="!loading && tableData.totalListItems === 0">
    No Records found.
  </div>

  <lib-table-template
    *ngIf="!loading && tableData.totalListItems != 0"
    (checkboxChange)="checkChange($event)"
    [data]="tableData"
    (columnSort)="setColumnSort($event)"
    (itemClicked)="itemClicked($event)"
    (itemSelected)="itemSelected($event)"
    (pageNumUpdate)="onSubmit($event, null, null)"
  >
  </lib-table-template>
</div>
