<div class="container-fluid-padding">
  <div class="input-group m-3">
    <button type="button" [disabled]="showAlert" class="btn btn-primary" (click)="startJob()">Start Job</button>
  </div>
  <div class="input-group m-3">
    <div *ngIf="showAlert" class="alert alert-success" role="alert">
      <h4 class="alert-heading">Job Started!</h4>
      <p>Please refresh the page to see the updated status.</p>
    </div>
  </div>

  <div *ngIf="!loading && tableData.totalListItems === 0">
    No Records found.
  </div>

  <lib-table-template
    *ngIf="!loading && tableData.totalListItems != 0"
    (checkboxChange)="checkChange($event)"
    [data]="tableData"
    (columnSort)="setColumnSort($event)"
    (itemClicked)="itemClicked($event)"
    (itemSelected)="itemSelected($event)"
    (pageNumUpdate)="onSubmit($event, null, null)"
  >
  </lib-table-template>
</div>
