<td scope="row" data-label="Name" class="col-2">{{ rowData.recordName }}</td>
<td scope="row" data-label="Government Agency" class="col-2">{{ rowData.issuingAgency }}</td>
<td scope="row" data-label="Author" class="col-2">{{ rowData.author }}</td>
<td scope="row" data-label="Type" class="col-2">{{ rowData.recordType }}</td>
<td scope="row" data-label="Date" class="col-2">{{ rowData.dateIssued | date: 'LLLL d, y' }}</td>
<td scope="row" data-label="Description" class="col-2">{{ rowData.description }}</td>
