<main class="container-fluid-padding">
  <h1>All Mines</h1>
  <br />
  <search-filter-template
    #explorePanel
    (searchEvent)="executeSearch($event)"
    [title]="'Keyword Search'"
    [tooltip]="'Enter a Mine Name or Permit Number to search for'"
    [advancedFilters]="false"
  ></search-filter-template>

  <div *ngIf="!tableData.totalListItems">
    No Mines found.
  </div>

  <lib-table-template
    *ngIf="tableData.totalListItems > 0"
    [data]="tableData"
    (messageOut)="onMessageOut($event)"
  ></lib-table-template>
</main>
