<div class="map-container">
  <div id="map" name="Map of BC that displays Crown land applications"></div>
  <div id="legend" name="List for choosing project to view">
    <div id="title">PROJECTS</div>
    <div id="sub-title">Select a project to see more details</div>
    <hr />
    <div
      class="button"
      id="lng-button"
      (mouseenter)="ngOnLegendLngEnter()"
      (mouseleave)="ngOnLegendLngLeave()"
      (click)="ngOnLegendLngClick()"
    >
      <div class="icon">
        <svg>
          <circle cx="10px" cy="10px" r="8px" fill="#a5ff82" stroke-width="3px" stroke="#6092ff"></circle>
        </svg>
      </div>
      <div class="button-title">LNG CANADA - FACILITY</div>
      <div class="button-button">
        <button type="button" class="btn" routerLink="/project/1">Go to Details</button>
      </div>
    </div>
    <div
      class="button"
      id="gas-button"
      (mouseenter)="ngOnLegendGasEnter()"
      (mouseleave)="ngOnLegendGasLeave()"
      (click)="ngOnLegendGasClick()"
    >
      <div class="icon">
        <svg>
          <rect y="8px" width="10px" height="4px" style="fill: #6092ff; stroke-width: 0" />
          <rect y="8px" x="10px" width="10px" height="4px" style="fill: #38598a; stroke-width: 0" />
          <circle cx="10px" cy="10px" r="4px" fill="white" stroke-width="2px" stroke="#38598A"></circle>
        </svg>
      </div>
      <div class="button-title">COASTAL GASLINK - PIPELINE</div>
      <div class="button-button">
        <button type="button" class="btn" routerLink="/project/2">Go to Details</button>
      </div>
    </div>
  </div>
</div>
