<footer class="app-footer app-footer--sm" id="footer">
  <div class="container">
    <!-- <div class="footer-info row">
      <div class="col-md-4">
        <section>
          <h4>Navigate</h4>
          <ul class="nav-links">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/connect">Connect With Us</a></li>
          </ul>
        </section>
      </div>
    </div> -->
    <div class="footer-admin clearfix">
      <ul class="gov-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
      </ul>
    </div>
  </div>
</footer>
