.pagination {
  text-align: center;

  .btn-group {
    margin: 0 auto;
  }
}

.pg-count {
  padding: 0.75rem;
}

.pg-btn {
  border-radius: 0;

  i {
    margin-top: -0.1rem;
  }
}

.ngx-pagination {
  padding-left: 0;
}
