.detail-page {
  .nav-section {
    font-weight: 600;
    text-align: center;

    .nav-items {
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid black;

      .nav-item {
        margin: 0 2rem;
        font-weight: 600;
        cursor: pointer;
        display: inline-block;

        &.active {
          border-bottom: 4px solid black;
        }

        .nav-item-icon {
          display: inline;
          vertical-align: middle;
          font-size: 1.5rem;
        }

        .nav-item-value {
          display: inline;
          vertical-align: middle;
          font-size: 1.25rem;
          margin-left: 0.25rem;
        }
      }

      @media screen and (max-width: 768px) {
        .nav-item {
          margin: 0 0.5rem;
        }
      }
    }
  }

  .content-section {
    margin: 0.5rem;
    padding: 0.5rem;

    .content-grid {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 1.25rem;
      font-size: 1.25rem; // Child items use 0.8em, allowing <grid-item> to be nested inside <grid-item-value> and having the font-size scale automatically.

      .grid-section {
        display: grid;
        grid-gap: 0.75rem;
      }

      // Can also be nested inside <grid-item-value> - font-size scales automatically (re: 0.8em).
      .grid-item {
        display: grid;
        grid-gap: 0.25rem;
        font-size: 0.8em;

        &__col {
          @extend .grid-item;

          grid-gap: 0.75rem;
          grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
        }

        &__row {
          @extend .grid-item;

          grid-template-rows: min-content;
        }

        &__flex {
          @extend .grid-item;

          grid-gap: 0.5rem;
          display: flex;
        }

        .grid-item-name {
          font-weight: 600;

          &__col {
            @extend .grid-item-value;

            grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
          }

          &__row {
            @extend .grid-item-value;

            grid-template-rows: repeat(auto-fit, minmax(0, max-content));
          }

          &__flex {
            @extend .grid-item-value;

            display: flex;

            &__col {
              flex-direction: column;
            }

            &__row {
              flex-direction: row;
            }
          }
        }

        .grid-item-value {
          display: grid;
          font-weight: 400;

          &__col {
            @extend .grid-item-value;

            grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
          }

          &__row {
            @extend .grid-item-value;

            grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
          }
        }
      }
    }
  }
}

.grey-subtext {
  color: $gray6;
  font-size: 15px;
  font-style: italic;
}

label {
  display: inline-block;
  font-size: inherit;
  margin: 0;
}
