@use "../../../assets/styles/base/base.scss" as *;


.section-1 {
  grid-template-columns: 6fr 6fr;
}

.grid-section-1 {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: auto;
}

.grid-item-name{
  font-size: 1rem;
  font-weight: bold;
}

.section-1 {
  grid-template-columns: 7fr 5fr;
}

@media screen and (max-width: 768px) {
  .grid-section-1 {
    grid-template-columns: none;
  }

  .grid-item__row {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.625rem;
  }
}

.legislation-divider {
  border-top: 1px solid $fc-border-color;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
