<main class="container-fluid-padding">
    <section>
        <div class="d-flex heading-bar">
            <div>
                <h4 class="m-0">Enforcement Actions</h4>
            </div>
        </div>
    </section>
    <!-- <section>
        <h5>
            Page Text
        </h5>
        <span *ngIf="!pageTextEditing">
            {{pageText}}
        </span>
        <span *ngIf="pageTextEditing">
            <editor [init]="tinyMceSettings"
                name="pageTextDraft"
                id="pageTextDraft"
                [ngModel]="pageTextDraft"></editor>
        </span>
    </section>
    <section class="d-flex justify-content-end"
        *ngIf="!pageTextEditing">
        <button class="btn btn-primary"
            (click)="setEditingMode()">
            Edit
        </button>
    </section>
    <section class="d-flex justify-content-end"
        *ngIf="pageTextEditing">
        <button class="btn btn-primary mr-2"
            (click)="cancelEditing()">
            Cancel
        </button>
        <button class="btn btn-primary">
            Save & Publish
        </button>
    </section> -->
    <section>
        <app-enforcement-actions-table></app-enforcement-actions-table>
    </section>
</main>