<div class="popup-content" *ngIf="!app">
  Loading application details...
</div>

<div class="popup-content" *ngIf="app">
  <div class="file-number">Crown Land File: {{app['clFile'] || '-'}}</div>

  <div class="applicant-name">{{app['applicants'] | titlecase}}</div>
  <div class="purpose">{{app.purpose | titlecase}} - {{app.subpurpose | titlecase}}</div>

  <ul class="status-container">
    <li class="app-status">{{app.appStatus}}
    </li>
  </ul>

  <button class="app-link btn btn-primary" (click)="showDetails()">View Application Details</button>
</div>
