<td scope="row" data-label="Name" class="col-6 d-flex">{{ rowData.recordName || '-' }}
  <em *ngIf="rowData.isLink" class="material-icons ml-2">link</em>
</td>
<td scope="row" data-label="Source System" class="col-2">{{ rowData && rowData.sourceSystemRef || '-' }}</td>
<td scope="row" data-label="Date" class="col-2">{{ (rowData.dateIssued && formatDate(rowData.dateIssued)) || '-' }}</td>
<td scope="row" data-label="Published State" class="col-2 d-lg-flex">
  <div *ngIf="isPublished(); then published; else unpublished"></div>
  <ng-template #published class="test">
    <em class="material-icons published-green">check_circle</em>
    <span class="publish-label pl-1 published-green">Published</span>
  </ng-template>
  <ng-template #unpublished class="test">
    <em class="material-icons ">cancel</em>
    <span class="publish-label pl-1">Unpublished</span>
  </ng-template>
</td>
