@use "assets/styles/base/base.scss" as *;

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.published-green {
  color: #459c1e;
}

:host-context(tr) {
  &:hover {
    background-color: $table-row-hover-bg;
    cursor: pointer;
  }
}
