@import "~assets/styles/base/base.scss";

html,
body {
  min-height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

body-content {
  transition: 0.25s all;
}

.container-fluid-padding {
  padding: 0 1.5rem 14px;

  @media screen and (max-width: 768px) {
    padding: 1.2rem 1rem 14px;
  }
}

// Container
.container {
  margin: 0 auto;
  // Need to override bootstrap responsive behaviour for the container class here to ensure we aren't squeezing the interface unneccessarily
  max-width: 1140px !important;
  padding: 1.5rem;

  section {
    &.last {
      margin-bottom: 0;
    }
  }
}

// Main Element
main {
  margin-top: 25px;

  h2 {
    margin-bottom: 1rem;
    line-height: 2rem;
    font-size: 1.75rem;
  }

  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;

    span {
      margin-top: 0.5rem;
      display: block;
      line-height: 1.25rem;
      font-size: 1rem;
    }
  }

  p {
    line-height: 1.4rem;
    font-size: 0.9375rem;
  }

  section {
    + section {
      margin-top: 2rem;

      @media screen and (max-width: 768px) {
        margin-top: 1rem;
      }
    }

    &.last {
      margin-bottom: 0;
    }

    &.add-spacer {
      padding-bottom: 2.5rem;
      border-bottom: 2px solid #ccc;
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    h4 {
      margin-bottom: 1.5rem;
      line-height: 1.9rem;
    }

    h5 {
      line-height: 1.25rem;
      font-size: 1rem;
      font-weight: 600;
    }

    ul {
      margin-bottom: 1.75rem;
      list-style-type: square;
    }

    ol {
      margin-bottom: 1.75rem;
    }
  }
}

.action-container {
  left: 0;
  right: 0;
  margin: 0;
  background: #e9ecef;
  padding: 10px 10px 12px 10px;
  transition: height 0.25s;
  z-index: 4;

  .btn {
    padding: 0.74rem 0.75rem;
    width: 202px;

    i {
      margin-top: -7px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 5px 10px 7px 10px;
  }
}

.flex-container {
  @media screen and (min-width: 800px) {
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
  }
}

button.btn-outline-secondary:hover {
  background-color: #fcb118;
  color: #036;
  border-color: #036;
}

@media (min-width: 760px) {
  main {
    h2 {
      line-height: 2.5rem;
      font-size: 2rem;

      span {
        display: block;
      }
    }

    h3 {
      font-size: 1.75rem;
    }

    p {
      line-height: 1.8rem;
      font-size: 1rem;
    }
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 2px;
}

// Page Title Container
.title-container {
  @include flex-box();

  &__title {
    @include flex(1 1 auto);

    margin: 0;

    h1 {
      margin-bottom: 0;
      font-size: 1.65rem;
    }
  }

  &__actions {
    @include flex(0 0 auto);

    .btn {
      min-width: 5rem;
      font-size: 0.875rem;
      font-weight: bold;

      + .btn {
        margin-left: 0.25rem;
      }
    }
  }
}

ol.breadcrumb {
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 0.85rem;
  }
}

.breadcrumb-item a {
  color: #007bff;
  font-size: 1rem;
}

.breadcrumb-item.active {
  color: #036;
}
