@import "assets/styles/components/add-edit.scss";

.sub-text {
  color: grey;
  font-size: 15px;
  font-style: italic;
  margin-left: 10px;
}

.top-header {
  display: inline-block;
  color: #38598a;
}

.go-to-details-btn {
  text-align: right;
}

section {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

form {
  margin-top: 20px;
}
