.last-edited-text {
  color: grey;
  font-size: 15px;
  font-style: italic;
  margin-left: 20px;
}

.top-header {
  display: inline-block;
  color: #38598a;
}

.go-to-details-btn {
  text-align: right;
}

section {
  border-bottom: 1px solid lightgrey;
}
