<form [formGroup]="formGroup">
  <div [ngClass]="renderColumns ? 'flex-container__col' : 'flex-container__row'">
    <div [ngClass]="renderColumns ? 'label-pair__col' : 'label-pair__row'">
      <label for="act">Act</label>
      <input
        name="act"
        id="act"
        formControlName="act"
        type="text"
        class="form-control"
        placeholder="Begin typing to filter acts..."
        matInput
        (keyup)="filterActsPicklist($event)"
        (blur)="verifyKnownActValue($event)"
        [matAutocomplete]="actAutocomplete"
      />
      <mat-autocomplete #actAutocomplete="matAutocomplete">
        <mat-option (click)="onSelectAct()"></mat-option>
        <mat-option *ngFor="let act of filteredActs" [value]="act" (click)="onSelectAct(act)" title="{{ act }}">
          {{ act }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div [ngClass]="renderColumns ? 'label-pair__col' : 'label-pair__row'">
      <label for="regulation">Regulation</label>
      <input
        name="regulation"
        id="regulation"
        formControlName="regulation"
        type="text"
        class="form-control"
        placeholder="Begin typing to filter regulations..."
        matInput
        (keyup)="filterRegulationsPicklist($event)"
        (blur)="verifyKnownRegulationValue($event)"
        [matAutocomplete]="regulationAutocomplete"
      />
      <mat-autocomplete #regulationAutocomplete="matAutocomplete">
        <mat-option (click)="onSelectRegulation()"></mat-option>
        <mat-option
          *ngFor="let regulation of filteredRegulations"
          [value]="regulation"
          (click)="onSelectRegulation(regulation)"
          title="{{ regulation }}"
        >
          {{ regulation }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div *ngIf="!hideSection" [ngClass]="renderColumns ? 'label-pair__col' : 'label-pair__row xsm'">
      <label for="section">Section</label>
      <input name="section" id="section" formControlName="section" type="text" class="form-control" />
    </div>
    <div *ngIf="!hideSubSection" [ngClass]="renderColumns ? 'label-pair__col' : 'label-pair__row xsm'">
      <label for="subSection">Sub-Section</label>
      <input name="subSection" id="subSection" formControlName="subSection" type="text" class="form-control" />
    </div>
    <div *ngIf="!hideParagraph" [ngClass]="renderColumns ? 'label-pair__col' : 'label-pair__row xsm'">
      <label for="paragraph">Paragraph</label>
      <input name="paragraph" id="paragraph" formControlName="paragraph" type="text" class="form-control" />
    </div>
  </div>
</form>
