.leaflet-container {
  font-family: 'myriad-pro', Calibri, Arial, sans-serif;

  a.leaflet-popup-close-button {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 0;
    width: 2rem;
    height: 2rem;
    color: $gray6;
    border-radius: 0.25rem;
    font-size: 24px; // default material-icon size
    font-weight: normal;
    transition: all ease-out 0.2s;

    &:active,
    &:focus,
    &:hover {
      color: $gray9;
      background: $gray1;
    }
  }
}

// Popup
.leaflet-popup {
  margin-bottom: 30px; // Offset so we can see the marker
  cursor: auto;
}

.leaflet-popup.map-popup-content-fixed {
  position: fixed;
  bottom: auto !important ;
  top: 4.5rem !important ;
  left: auto !important ;
  width: 350px !important;
  right: 0.25rem !important ;
  transform: none !important ;
  padding: 0.5rem;
}

.map-popup-content-fixed .leaflet-popup-tip-container {
  display: none;
}
#map .popup-header {
  background-color: $primary6;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

#map .popup-content {
  padding: 0.5rem;
}

.map-popup-content-fixed .popup-content {
  border: 3px solid $primary6;
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: $gray1;
}

#map .popup-hr {
  margin: 0.2rem 0 0.2rem 0;
}

#map .popup-title {
  font-size: 1.2rem;
  font-weight: bolder;
}

#map .popup-subtitle {
  font-size: 1rem;
  font-weight: bolder;
}

#map .popup-subtext {
  font-size: 1rem;
}

#map .popup-button button {
  right: 0.1rem;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-left: 8.4rem;
}

#map .popup-desc {
  max-height: 40vh;
  overflow: auto;
}

#map .popup-desc-title {
  font-weight: 600;
  color: $primary6;
  margin-bottom: 0.2rem;
}

#map .popup-value {
  font-weight: 600;
  color: $primary6;
}

#map .popup-date {
  font-weight: 600;
  color: $gray6;
}

#map .btn-popup {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: $gold;
  color: $primary;
  padding: 5px 10px;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0.5rem;
}

.leaflet-popup-content {
  margin: 0;
  width: auto;
  overflow: auto;
  line-height: 1.5;
}

// Map Attribution
.leaflet-control-attribution {
  padding: 0.5rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
}

// Marker cluster size variants
// * small  = 1-9
// * medium = 10-99
// * large  = 100+

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: transparent !important;
  background-image: url('../../images/cluster-pin.svg');
  background-size: 100%;
  background-repeat: no-repeat;

  div {
    width: 100%;
    height: 48px;
    color: #fff;
    background-color: transparent !important;
    text-align: center;
    line-height: 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
  }
}

// Layer Control
.leaflet-touch .leaflet-control-layers-toggle {
  width: 32px;
  height: 32px;
  background: url('../../images/baseline-layers-24px.svg') no-repeat center 5px;
}

.leaflet-top.leaflet-right .leaflet-control {
  margin-top: 14px;
}

.leaflet-custom-minimap {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  border: 5px solid #38598a;
}

.leaflet-bottom .leaflet-custom-minimap {
  margin-bottom: 10px;
}

.leaflet-bottom {
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .leaflet-custom-minimap {
    display: none;
  }

  .map-popup-content-fixed .leaflet-popup-content {
    width: auto !important;
  }

  .leaflet-popup.map-popup-content-fixed {
    bottom: auto !important ;
    left: 1rem !important ;
    right: 1rem !important ;
    width: auto !important;
  }

  .leaflet-control-zoom {
    display: none;
  }

  #map .popup-desc {
    max-height: 30vh;
    overflow: auto;
  }
}
