<td scope="row" class="col-1" (click)="$event.stopPropagation()">
  <mat-checkbox (change)="onRowCheckboxUpdate($event, rowData)"></mat-checkbox>
</td>
<td scope="row" data-label="Name" class="col-2">
  {{ rowData.recordName || '-' }}
</td>
<td scope="row" data-label="Agency" class="col-2 truncate">{{ rowData.issuingAgency || '-' }}</td>
<td scope="row" data-label="Source" class="col-1 truncate">{{ rowData.sourceSystemRef || '-' }}</td>
<td scope="row" data-label="Type" class="col-1 truncate">{{ rowData.recordType || '-' }}</td>
<td scope="row" data-label="Collections" class="col-2 truncate">{{ rowData.collections || '-' }}</td>
<td scope="row" data-label="Date" class="col-1 truncate">{{ rowData.dateIssued | date: 'mediumDate' || '-' }}</td>
<td scope="row" data-label="Published" class="col-1 d-xl-flex">
  <!-- TODO this publish flag needs to be updated based on BCMI publish (collections?) logic when ready.  Currently, -->
  <!-- this will always show `unpublished` as the `public` role will never be found in the master read array -->
  <div *ngIf="rowData.read && rowData.read.includes('public'); then published; else unpublished"></div>
  <ng-template #published>
    <i class="material-icons published-green">check_circle</i>
    <span class="publish-label pl-1 published-green overflow-hidden truncate">Published</span>
  </ng-template>
  <ng-template #unpublished>
    <i class="material-icons">cancel</i>
    <span class="publish-label pl-1 overflow-hidden truncate">Unpublished</span>
  </ng-template>
</td>
<td scope="row" class="col-1 d-xl-flex" (click)="$event.stopPropagation()">
  <button class="btn" type="button" (click)="goToEdit()" title="Edit record">
    <i class="material-icons">create</i>
  </button>
  <button mat-icon-button class="btn" [matMenuTriggerFor]="menu" title="More options" aria-label="More options menu">
    <i class="material-icons">more_vert</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToDetails()" title="View record details">View Record Details</button>
  </mat-menu>
</td>
