<input
  #multiAutocompleteFilter
  name="multiAutocompleteFilter"
  type="text"
  class="form-control"
  placeholder="{{ placeholderText }}"
  matInput
  (keyup)="filterPicklist($event)"
  (keydown)="handleEnter($event)"
  [matAutocomplete]="multiAutocomplete"
/>
<mat-autocomplete #multiAutocomplete="matAutocomplete">
  <mat-option (click)="selectNone()" title="Select none">Clear Selected</mat-option>
  <ng-container *ngFor="let option of options">
    <mat-option
      *ngIf="option.display"
      class="multi-select-option p-0"
      [value]="option.value"
      title="{{ option.displayValue }}"
    >
      <div
        class="py-0 px-3"
        (click)="toggleSelection(option); $event.stopPropagation()"
        title="{{ option.displayValue }}"
      >
        <mat-checkbox class="no-pointer-events" [checked]="option.selected" title="{{ option.displayValue }}">
          {{ option.displayValue }}
        </mat-checkbox>
      </div>
    </mat-option>
  </ng-container>
</mat-autocomplete>
