<div class="map-container">
  <div id="map" name="Map of BC that displays Crown land applications"></div>
  <div id="legend" name="List for choosing project to view">
    <div id="title"> PROJECTS </div>
    <div id="sub-title">Select a project to see more details</div>
    <hr>
    <div class="button" id="lng-button"
      (mouseenter) = "ngOnLegendLngEnter()"
      (mouseleave) = "ngOnLegendLngLeave()"
      (click) = "ngOnLegendLngClick()"
    >
      <div class="icon">
        <svg>
          <circle
            cx="10px"
            cy="10px"
            r="8px"
            fill="#a5ff82"
            stroke-width="3px"
            stroke="#6092ff">
          </circle>
        </svg>
      </div>
      <div class="button-title">LNG CANADA</div>
      <div class="button-button">
        <button type="button" class="btn btn-primary" routerLink="/project/1">
          <i class="material-icons mr-1">image</i>
          <i class="material-icons mr-1">menu</i>
          <span>Go to Details</span>
        </button>
      </div>
    </div>
    <div class="button" id="gas-button"
      (mouseenter) = "ngOnLegendGasEnter()"
      (mouseleave) = "ngOnLegendGasLeave()"
      (click) = "ngOnLegendGasClick()"
    >
      <div class="icon">
        <svg>
          <circle
            cx="10px"
            cy="10px"
            r="8px"
            fill="white"
            stroke-width="3px"
            stroke="#6092ff">
          </circle>
        </svg>
      </div>
      <div class="button-title">COASTAL GASLINK</div>
      <div class="button-button">
        <button type="button" class="btn btn-primary" routerLink="/project/2">
          <i class="material-icons mr-1">image</i>
          <i class="material-icons mr-1">menu</i>
          <span>Go to Details</span>
        </button>
      </div>
    </div>
  </div>
</div>