@import "~assets/styles/base/base.scss";
@import "assets/styles/components/add-edit.scss";

.search-filter {
  &__header {
    @include flex(0 0 auto);
    @include flex-direction(column);

    &__help {
      font-size: 1.25rem;
    }

    .keyword-search {
      @include flex-box();
      @include flex(0 0 auto);
      @include flex-direction(row);

      height: 2.35rem;
      border: 2px solid $primary;

      &__input {
        @include flex(1 1 auto);
      }

      &__button {
        @include flex(0 0 auto);

        background-color: $primary;

        i {
          color: white;
        }
      }
    }

    .open-advanced-filters {
      background-color: $primary;
    }
  }

  &__content {
    border: 1px solid #036;
    border-radius: 6px;
  }
}

.grey-subtext {
  color: $gray6;
}

.content-section {
  .content-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(0, min-content));
    grid-template-columns: 1fr 3fr;

    &.show-advanced-filters {
      grid-template-areas:
        "Search  ListHeader"
        "Search  ListContent";
    }

    &:not(.show-advanced-filters) {
      grid-template-areas:
        "Search       ListHeader"
        "ListContent  ListContent";
    }

    .left-column {
      grid-area: Search;
    }

    .right-column {
      &__header {
        grid-area: ListHeader;
      }

      &__content {
        grid-area: ListContent;
      }
    }
  }
}
