@import "~assets/styles/base/base.scss";
@import "assets/styles/components/add-edit.scss";

.search-filter {

  &__header {
    .keyword-help {
      font-size: 1.25rem;
    }

    .keyword-search {
      @include flex-box();
      @include flex(0 0 auto);
      @include flex-direction(row);

      height: 2.5rem;
      border: 2px solid $primary;

      &__input {
        @include flex(1 1 auto);
      }

      &__button {
        @include flex(0 0 auto);

        background-color: $primary;

        i {
          color: white;
        }
      }
    }

    .open-advanced-filters {
      background-color: $primary;
    }
  }

  &__content {
    border: 1px solid #036;
    border-radius: 6px;
  }
}

.grey-subtext {
  color: $gray6;
  font-size: 15px;
  font-style: italic;
}

.sort-button {
  background-color: $primary;
}

.grey-subtext_no-italics {
  color: $gray6;
  font-size: 15px;
}

.fixed-search{
  flex: 0 0 600px;
  padding: 0px !important;
}

.sticky-search{
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1239px){
  .sticky-search {
    position: relative;
  }

  .fixed-search{
    flex: 0 0 auto;
  }
}
