:host {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f7f8fa;
}

h1 {
  margin-top: -0.4rem;
  margin-bottom: 0.75rem;
}

i {
  float: left;
  margin-right: 0.5rem;
}

.md-38 {
  font-size: 38px;
}
