<div class="container">
  <i class="material-icons md-38">warning</i>

  <div>
    <h1>Email for access</h1>
    <p>
      You must request access to this administrative site by
      <strong>email</strong>
      .
    </p>
    <p><a href="mailto:TODOEmail@gov.bc.ca">TODOEmail&#64;gov.bc.ca</a></p>
    <p>
      Authentication is a one time process, after which your IDIR will be enabled for future logins. If this is your
      first time logging into the Natural Resources Public Transparency Interface (NRPTI), you will need to send an
      email to CLR Help to complete your authentication and gain access to the site.
    </p>
  </div>
</div>
