<td scope="row" data-label="Name" class="col-4">{{ rowData.recordName }}</td>
<td scope="row" data-label="Nation" class="col-4">{{ rowData.nationName }}</td>
<td scope="row" data-label="Date" class="col-3">{{ rowData.dateIssued | date: 'LLLL d, y' }}</td>
<td scope="row" data-label="Download" class="col-1">
  <a
    *ngIf="rowData.documents && rowData.documents.length > 0"
    class="btn content-btn-dark page-bottom-btn"
    href="{{ rowData.documents[0].url }}"
    target="_blank"
  >
    <i class="material-icons">
      cloud_download
    </i>
  </a>
</td>
