<td scope="row" data-label="Name" class="col-2">{{ rowData.recordName }}</td>
<td scope="row" data-label="Nation" class="col-2">{{ rowData.nationName }}</td>
<td scope="row" data-label="Date" class="col-7">{{ rowData.dateIssued | date: 'LLLL d, y' }}</td>
<td scope="row" data-label="Download" style="text-align: center;" class="col-1">
  <a class="btn btn-primary" type="button" href="{{ rowData.documents[0].url }}" target="_blank">
    <span style="color: white;" class="material-icons">
      cloud_download
    </span>
  </a>
</td>
