
<div class="label-pair">
  <button *ngIf="sourceSystemRef==='nrpti' && hasOffence" type="button" class="btn btn-outline-primary" (click)="addLegislation()">
    Add New Contravention
  </button>
  <button *ngIf="sourceSystemRef==='nrpti' && !hasOffence" type="button" class="btn btn-outline-primary" (click)="addLegislation()">
    Add New Legislation
  </button>
</div>
<ng-container *ngFor="let formGroup of formArray.controls; let idx = index">
  <div class="legislation-divider"></div>
  <app-legislation-add-edit
    [formGroup]="formGroup"
    [hasOffence]="hasOffence"
  ></app-legislation-add-edit>
  <button *ngIf="sourceSystemRef==='nrpti' && idx !== 0 && hasOffence" class="btn btn-outline-primary delete-btn" type="button" title="Delete this contravention" (click)="removeLegislation(idx)">
    <i class="material-icons"></i>
    Delete Above Contravention
  </button>
  <button *ngIf="sourceSystemRef==='nrpti' && idx !== 0 && !hasOffence" class="btn btn-outline-primary delete-btn" type="button" title="Delete this contravention" (click)="removeLegislation(idx)">
    <i class="material-icons"></i>
    Delete Above Legislation
  </button>
</ng-container>
