@use "../../../assets/styles/base/base.scss" as base;

.delete-btn {
  margin-bottom: 1rem;
}

.legislation-divider {
  border-top: 1px solid $fc-border-color;
  margin-bottom: 1rem;
}

.label-pair-flex {
  @extend .label-pair;

  @media screen and (min-width: 800px) {
    @include base.flex-box();
    @include base.flex-direction(column);

    margin-right: 1%;
    vertical-align: top;

    &.flex-xsm {
      @include base.flex-box();
      @include base.flex-direction(column);
      @include base.flex(1 1);
    }

    &.flex-sm {
      @include base.flex-box();
      @include base.flex-direction(column);
      @include base.flex(10 2);

      min-width: 10rem;
    }

    &.flex-med {
      @include base.flex-box();
      @include base.flex-direction(column);
      @include base.flex(20 3);

      min-width: 10rem;
    }

    &.flex-lrg {
      @include base.flex-box();
      @include base.flex-direction(column);
      @include base.flex(30 4);

      min-width: 10rem;
    }
  }
}

.label-single-flex {
  @extend .label-single;
  @extend .label-pair-flex;
}

// from add-edit.scss

label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.label-single {
  @extend .label-pair;

  padding-top: base.$fc-line-height + 0.25rem;
}

.label-pair {
  line-height: base.$fc-line-height;
  margin-bottom: 1rem;
  position: relative;

  @media screen and (min-width: 800px) {
    width: 32%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;

    &.sm {
      width: 15.5%;
    }

    &.med {
      width: 65%;
    }

    &.lrg {
      width: 100%;
    }
  }
}
