# See https://git-scm.com/docs/gitignore for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/launch.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json
seed/package-lock.json
yarn-error.log
yarn.lock
seed/yarn.lock
debug.log

# Project Files
uploads

# System Files
.DS_Store
Thumbs.db
